
{% import _self as menus %}

          {#
            We call a macro which calls itself to render the full tree.
            @see http://twig.sensiolabs.org/doc/tags/macro.html
          #}
          {{ menus.menu_links(items, attributes, 0) }}

          {% macro menu_links(items, attributes, menu_level) %}
          {% import _self as menus %}

          {% if items %}

          {# List #}
          {% if menu_level == 0 %}
<ul {{ attributes.addClass('layout-navigation layout-navigation--full-width layout--large-screen-only') }} >
    {% else %}
    <ul{{ attributes.addClass( 'layout-navigation__dropdown-menu') }}>
        {% endif %}

        {% for item in items %}
            {% set item_classes = [
            item.in_active_trail ? 'active',
            ] %}

            {# List item #}
            {% if item.below and item.is_expanded %}
            <li{{ item.attributes.addClass('dropdown layout-navigation__dropdown', item_classes) }}>
            {% else %}
                <li{{ item.attributes.addClass('layout-navigation__link', item_classes) }}>
            {% endif %}

            {# Link #}
            {{ link(item.title, item.url) }}

            {# Submenu #}
            {% if item.below %}
                {{ menus.menu_links(item.below, attributes.removeClass('layout-navigation layout--large-screen-only').addClass('dropdown-menu'), menu_level + 1) }}
            {% endif %}

            </li>
        {% endfor %}

        {# Search icon #}
        <li class="layout-navigation__link layout-navigation__link__search">
        <form id="search-form" action="{{ url('view.vih_search.page') }}" method="get" accept-charset="UTF-8">
            <div class="form-group add-on">
              <input class="form-control" name="s" placeholder="Search" type="text">
              <div class="form-group-btn">
                <button type="submit" name="" class="form-submit btn-search">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
        </form>
        </li>
        <li class="layout-navigation__link layout-navigation__link__phone"><a href="tel:004575820811"><i class="material-icons">phone</i> +45 7582 0811</a></li>

    </ul>
    {% endif %}

    {% endmacro %}
