<!-- Begin - wrapper -->
<div class="layout__wrapper layout__header--scroll">

    <!-- Begin - drawer -->
    <div class="layout__drawer" aria-hidden="true">

        <!-- Begin - title -->
        <span class="layout-title">Title</span>
        <!-- End - title -->

    </div>
    <!-- End - drawer -->

    <!-- Begin - header -->
    <header class="layout__header">

        <!-- Begin - logo -->
        <div class="layout__header-logo"></div>
        <!-- End - logo -->

        <div class="layout__header-row layout__header-row--top">

            <!-- Begin - drawer button -->
            {#<div aria-expanded="false" data-toggle-drawer role="button" tabindex="0" class="layout__drawer-button">#}
                {#<span class="icon"></span>#}
            {#</div>#}
            <!-- End - drawer toggle -->

            <!-- Begin - title -->
            {#<span class="layout-title">Title</span>#}
            <!-- End - title -->

            <!-- Begin - contact information -->
            <aside class="layout-header-contact-information">
                <a href="tel:004575820811"><i class="material-icons">phone</i> +45 7582 0811</a> <span>Mandag - fredag <strong>08:00 - 15:00</strong></span>
            </aside>
            <!-- End - contact information -->

            <!-- Begin - tour -->
            <aside class="layout-header-tour">
                <a href="#"><i class="material-icons">bookmark_border</i> Rundvisning <span><strong>Det er gratis</strong></span></a>
            </aside>
            <!-- End - tour -->

            <!-- Begin - contact -->
            <aside class="layout-header-contact">
                <a href="#"><i class="material-icons">portrait</i> Kontakt</a>
            </aside>
            <!-- End - contact -->

            <!-- Begin - spacer -->
            <!-- Add spacer, to align navigation to the right -->
            <div class="layout-spacer"></div>
            <!-- End - spacer -->

            <!-- Begin - black bar - right -->
            {% if page.header_black_bar_right %}
                {% block header_black_bar_right %}
                    <aside class="layout-header-language-selection">
                        {{ page.header_black_bar_right }}
                    </aside>
                {% endblock %}
            {% endif %}
            <!-- End - black bar - right -->

        </div>
        <div class="layout__header-row layout__header-row--bottom">
            {% if page.header_navigation %}
                {{ page.header_navigation }}
            {% endif %}
        </div>
    </header>
    <!-- End - header -->

    <!-- Begin - document -->
    <main class="layout__document" role="document">

        <!-- Begin - content -->
        <div class="layout__content">

            {# Banner #}
            {% if page.banner %}
                {% block banner %}
                    <div class="banner">
                        {{ page.banner }}
                    </div>
                {% endblock %}
            {% endif %}

            {# Header #}
            {#{% if page.header %}#}
                {#{% block header %}#}
                    {#<div role="heading">#}
                        {#<div class="angled-background-color angled-background-color-white">#}
                            {#<div class="angled-background-inner">#}
                                {#<div class="container">#}
                                    {#{{ page.header }}#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#{% endblock %}#}
            {#{% endif %}#}

            <!-- Begin - content -->
            <section{{ content_attributes.addClass(content_classes) }}>
                {% block content %}
                    <!-- Begin - content -->
                    <a id="main-content"></a>

                    {% if node %}
                        {{ page.content }}
                    {% else %}
                        <div class="angled-background-color angled-background-color-white">
                            <div class="angled-background-inner">
                                <div class="container">
                                    {{ page.content }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- End - content -->
                {% endblock %}
            </section>
            <!-- End - content -->

        </div>
        <!-- End - content -->

        <!-- Begin - footer -->
        <footer class="layout__footer">
            <div class="layout__footer-inner">

                {% if page.footer_top_first or page.footer_top_second or page.footer_top_third or page.footer_top_fourth %}
                    <!-- Begin - footer top -->
                    <div class="layout__footer-top-outer">
                        <div class="container">
                            <div class="layout__footer-top-inner">
                                <div class="row">

                                    {% if page.footer_top_first %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            {{ page.footer_top_first }}
                                        </div>
                                    {% endif %}

                                    {% if page.footer_top_second %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            {{ page.footer_top_second }}
                                        </div>
                                    {% endif %}

                                    {% if page.footer_top_third %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            {{ page.footer_top_third }}
                                        </div>
                                    {% endif %}

                                    {% if page.footer_top_fourth %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            {{ page.footer_top_fourth }}
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End - footer top -->
                {% endif %}

                <!-- Begin - footer bottom -->
                <div class="layout__footer-bottom-outer">
                    <div class="layout__footer-bottom-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="layout__footer-bottom-copyright">
                                        <p>{% trans %} © {{ theme_settings['copyright_interval'] }}, Vejle Idrætshøjskole. All rights reserved.{% endtrans %}</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="layout__footer-bottom-social">
                                        <ul class="list-inline pull-right">
                                            <li><a href="#"><span class="icon fa fa-instagram"></span></a></li>
                                            <li><a href="#"><span class="icon fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="icon fa fa-facebook"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End - footer bottom -->

            </div>
        </footer>
        <!-- End - footer -->

    </main>
    <!-- End - document -->

    <!-- Begin - obfuscator -->
    <div class="layout__obfuscator"></div>
    <!-- End - obfuscator -->

</div>
<!-- End - wrapper -->
