<!-- Begin - wrapper -->
<div class="layout__wrapper layout--fixed-header">
    <!-- Begin - drawer -->
    <div class="layout__drawer" aria-hidden="true">
        <!-- Begin - title --><span class="layout-title">Title</span>
        <!-- End - title -->
    </div>
    <!-- End - drawer -->
    <!-- Begin - header -->
    <header class="layout__header">
        <!-- Begin - logo -->
        <a class="layout__header-logo" href="{{ url('<front>') }}"></a>
        <!-- End - logo -->
        <div class="layout__header-row layout__header-row--top">
            <!-- Begin - drawer button -->{#
            <div aria-expanded="false" data-toggle-drawer role="button" tabindex="0" class="layout__drawer-button">#} {#<span class="icon"></span>#} {#</div>#}
            <!-- End - drawer toggle -->
            <!-- Begin - title -->{#<span class="layout-title">Title</span>#}
            <!-- End - title -->
            <!-- Begin - contact information -->
            <aside class="layout-header-contact-information"> <a href="tel:004575820811"><i class="material-icons">phone</i> +45 7582 0811</a> <span>Mandag - fredag <strong>08:00 - 15:00</strong></span> </aside>
            <!-- End - contact information -->
            <!-- Begin - tour -->
            <aside class="layout-header-tour"> <a href="#"><i class="material-icons">bookmark_border</i> Rundvisning</a> <span><strong>Det er gratis</strong></span> </aside>
            <!-- End - tour -->
            <!-- Begin - contact -->
            <aside class="layout-header-contact"> <a href="#"><i class="material-icons">portrait</i> Kontakt</a> </aside>
            <!-- End - contact -->
            <!-- Begin - spacer -->
            <!-- Add spacer, to align navigation to the right -->
            <div class="layout-spacer"></div>
            <!-- End - spacer -->
            <!-- Begin - black bar - right -->{% if page.header_black_bar_right %} {% block header_black_bar_right %}
            <aside class="layout-header-language-selection"> {{ page.header_black_bar_right }} </aside> {% endblock %} {% endif %}
            <!-- End - black bar - right -->
        </div>
        <div class="layout__header-row layout__header-row--bottom"> {% if page.header_navigation %} {{ page.header_navigation }} {% endif %} </div>
    </header>
    <!-- End - header -->
    <!-- Begin - document -->
    <main class="layout__document" role="document">
        <!-- Begin - content -->
        <div class="layout__content">
            <div class="banner styleguide-banner">
                <h1>Styleguide of VIH</h1> </div>
            <div role="heading">
                <div class="angled-background-color angled-background-color-white">
                    <div class="angled-background-inner">
                        <div class="container"><p style="margin-top:50px;">This is a tiny style guide of Vejle Idrætshøjskole <br> developed &amp; designed by Simon Tofteby.</p> </div>
                    </div>
                </div>
            </div>
            <!-- Begin - content -->
            <section{{ content_attributes.addClass(content_classes) }}>
                <!-- Begin - content -->
                <a id="main-content"></a>
                <div class="angled-background-color angled-background-color-white">
                    <div class="angled-background-inner">
                        <div class="container">
                          
                          
                          <section id="fonts">
                                <h3>Fonts</h3>
                                <hr>
                                 
                              <h1 style="line-height: inherit;">h1: abcdefghijklmnopqrstuvwxyzæøå</h1>
                              <div class="codebox" style="height: auto;padding:10px;"><code>font-family: "Open Sans", Sens-serif;<br>font-size: 3.157em;</code></div>
                              <br>
                
                              <h2>h2: abcdefghijklmnopqrstuvwxyzæøå</h2>
                              <div class="codebox" style="height: auto;padding:10px;"><code>font-family: "Open Sans", Sens-serif;<br>font-size: 2.369em;</code></div>
                              <br>
                              <h3>h3: abcdefghijklmnopqrstuvwxyzæøå</h3>
                              <div class="codebox" style="height: auto;padding:10px;"><code>font-family: "Open Sans", Sens-serif;<br>font-size: 1.777em;</code></div>
                              <br>
                              <h4>h4: abcdefghijklmnopqrstuvwxyzæøå</h4>
                              <div class="codebox" style="height: auto;padding:10px;"><code>font-family: "Open Sans", Sens-serif;<br>font-size: 1.333em;</code></div>
                              <br>
                              <h5>h5: abcdefghijklmnopqrstuvwxyzæøå</h5>
                              <div class="codebox" style="height: auto;padding:10px;"><code>font-family: "Open Sans", Sens-serif;<br>font-size: 1em;</code></div>
                              <br>
                              <h6>h6: abcdefghijklmnopqrstuvwxyzæøå</h6>
                              <div class="codebox" style="height: auto;padding:10px;"><code>font-family: "Open Sans", Sens-serif;<br>font-size: 0.8125em;</code></div>
                              <br>
                              <p>Paragraph: Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                              <div class="codebox" style="height: auto;padding:10px;"><code>font-family: "Open Sans", Sens-serif;<br>font-size: 1em;</code></div>
                              <br>
                              
                              <h3>Font colors</h3>
                                <hr>
                              <h4 class="f-light">This is a light color</h4>
                              <div class="codebox" style="height: auto;padding:10px;"><code>class="f-light"</code></div>
                              <br>
                              <h4 class="f-dark">This is a dark color</h4>
                              <div class="codebox" style="height: auto;padding:10px;"><code>class="f-dark"</code></div>
                              <br>
                              <h4 class="f-pale" style="background-color: #00bcff;">This is a white color</h4>
                              <div class="codebox" style="height: auto;padding:10px;"><code>class="f-pale"</code></div>
                          </section>
                             <div class="breaker"></div>
                           
             <section id="accordians">
    <h3>Accordians</h3>
    <hr>
    <div class="panel-group" id="accordion">
        <div class="panel-heading blue">
            <h4 class="panel-title">
        <a>
          Oktober - December
        </a>
      </h4> </div>
        <div class="panel panel-default white-border-bottom">
            <div class="panel-heading">
                <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Idrætsblok 1
        </a>
      </h4> </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">  <p>Insert content</p> </div>
            </div>
        </div>
        <div class="panel panel-default white-border">
            <div class="panel-heading">
                <h4 class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Idrætsblok 2
        </a>
      </h4> </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">  <p>Insert content</p> </div>
            </div>
        </div>
        <div class="panel-heading blue">
            <h4 class="panel-title">
        <a>
          Januar - Februar
        </a>
      </h4> </div>
        <div class="panel panel-default white-border">
            <div class="panel-heading">
                <h4 class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Idrætsblok 1
        </a>
      </h4> </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body"> <p>Insert content</p> </div>
            </div>
        </div>
        <div class="panel panel-default white-border-top">
            <div class="panel-heading">
                <h4 class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Idrætsblok 2
        </a>
      </h4> </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">  <p>Insert content</p> </div>
            </div>
        </div>
    </div>
</section>
                             <h5>Code guidelines</h5>
                          <div class="codebox"> <code>
     &lt;div class="panel-group" id="accordion">&lt;div class="panel-heading blue">&lt;h4 class="panel-title">&lt;a>Oktober - December&lt;/a>&lt;/h4>&lt;/div>
       <br>
       <br>
        &lt;div class="panel panel-default white-border-bottom">&lt;div class="panel-heading">&lt;h4 class="panel-title">&lt;a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Idrætsblok 1&lt;/a>&lt;/h4>&lt;/div>
           <br>
            &lt;div id="collapseOne" class="panel-collapse collapse in">&lt;div class="panel-body">&lt;p>Insert content&lt;/p>&lt;/div>&lt;/div>&lt;/div>
            <br>
            <br>
             &lt;div class="panel panel-default white-border-top">&lt;div class="panel-heading">&lt;h4 class="panel-title">&lt;a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Idrætsblok 2&lt;/a>&lt;/h4>&lt;/div>
           <br>
            &lt;div id="collapseTwo" class="panel-collapse collapse in">&lt;div class="panel-body">&lt;p>Insert content&lt;/p>&lt;/div>&lt;/div>&lt;/div>
            <br><br>
        &lt;div class="panel-heading blue">&lt;h4 class="panel-title">&lt;a>Januar - Februar&lt;/a>&lt;/h4>&lt;/div>
        <br>
        <br>
        &lt;div class="panel panel-default white-border">&lt;div class="panel-heading">&lt;h4 class="panel-title">&lt;a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Idrætsblok 2&lt;/a>&lt;/h4>&lt;/div>
           <br>
            &lt;div id="collapseTwo" class="panel-collapse collapse in">&lt;div class="panel-body">&lt;p>Insert content&lt;/p>&lt;/div>&lt;/div>&lt;/div>
            <br><br>
        &lt;div class="panel panel-default white-border-top">&lt;div class="panel-heading">&lt;h4 class="panel-title">&lt;a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Idrætsblok 2&lt;/a>&lt;/h4>&lt;/div>
           <br>
            &lt;div id="collapseTwo" class="panel-collapse collapse in">&lt;div class="panel-body">&lt;p>Insert content&lt;/p>&lt;/div>&lt;/div>&lt;/div>
            <br><br>
    &lt;/div>
     </code> </div>
                             
                             
                              <div class="breaker"></div>
                           
                            <!-- Tabs -->
                            <section id="tabs">
                                <h3>Tabs</h3>
                                <hr>
                                <div class="panel-group" id="accordion">
                                    <div class="panel-heading blue">
                                        <h4 class="panel-title">
        <a>
          Oktober - December
        </a>
      </h4> </div>
                                    <div class="panel panel-default white-border-bottom">
                                        <div class="panel-heading tab-heading">
                                            <div class="btn-group" data-toggle="buttons" style="height:50px;">
                                                <label class="tabs"> <a data-toggle="collapse" data-parent="#accordion" href="#tabsOne" class="tabs-toggle">Idrætsblok 1</a> </label>
                                                <label class="tabs"> <a data-toggle="collapse" data-parent="#accordion" href="#tabsTwo" class="tabs-toggle">Idrætsblok 2</a> </label>
                                                <label class="tabs"> <a data-toggle="collapse" data-parent="#accordion" href="#tabsThree" class="tabs-toggle">Kompetencelinje</a> </label>
                                                <label class="tabs"> <a data-toggle="collapse" data-parent="#accordion" href="#tabsFour" class="tabs-toggle">Rejser</a> </label>
                                                <label class="tabs"> <a data-toggle="collapse" data-parent="#accordion" href="#tabsFive" class="tabs-toggle">Inspirationsfag</a> </label>
                                                <label class="tabs"> <a data-toggle="collapse" data-parent="#accordion" href="#tabsSix" class="tabs-toggle">Højskolefag</a> </label>
                                            </div>
                                        </div>
                                        <div id="tabsOne" class="panel-collapse collapse in">
                                            <div class="panel-body"> <p>Insert content</p> </div>
                                        </div>
                                        <div id="tabsTwo" class="panel-collapse collapse">
                                            <div class="panel-body"> <p>Insert content</p> </div>
                                        </div>
                                        <div id="tabsThree" class="panel-collapse collapse">
                                            <div class="panel-body"> <p>Insert content</p> </div>
                                        </div>
                                        <div id="tabsFour" class="panel-collapse collapse">
                                            <div class="panel-body"> <p>Insert content</p> </div>
                                        </div>
                                        <div id="tabsFive" class="panel-collapse collapse">
                                            <div class="panel-body"> <p>Insert content</p>  </div>
                                        </div>
                                        <div id="tabsSix" class="panel-collapse collapse">
                                            <div class="panel-body"> <p>Insert content</p> </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            
                            <h5>Code guidelines</h5>
                            
                            <div class="codebox"> <code>
                            
                            
                               
&lt;div class="panel-group" id="accordion">
<br> &lt;div class="panel-heading blue">
<br> &lt;h4 class="panel-title">&lt;a><b>Oktober - December</b>&lt;/a>&lt;/h4>
<br> &lt;/div>
<br>
<br>
&lt;div class="panel panel-default white-border-bottom">
                   <br>
                    &lt;div class="panel-heading tab-heading">
                                           <br>
                                           <br>
                                            &lt;div class="btn-group" data-toggle="buttons" style="height:50px;"><br>
                                               <br>
                                                &lt;label class="tabs">&lt;a data-toggle="collapse" data-parent="#accordion" href="#tabsOne" class="tabs-toggle"><b>Idrætsblok 1</b>&lt;/a>&lt;/label>
                                                <br>
                                                <br>
                                                
                                                &lt;label class="tabs">&lt;a data-toggle="collapse" data-parent="#accordion" href="#tabsTwo" class="tabs-toggle"><b>Idrætsblok 2</b>&lt;/a>&lt;/label>
                                                <br>
                                                <br>
                                                
                                                &lt;label class="tabs">&lt;a data-toggle="collapse" data-parent="#accordion" href="#tabsThree" class="tabs-toggle"><b>Kompetencelinje</b>&lt;/a>&lt;/label>
                                                <br>
                                                <br>
                                                
                                                &lt;label class="tabs">&lt;a data-toggle="collapse" data-parent="#accordion" href="#tabsFour" class="tabs-toggle"><b>Rejser</b>&lt;/a>&lt;/label>
                                                <br>
                                                <br>
                                                
                                                &lt;label class="tabs">&lt;a data-toggle="collapse" data-parent="#accordion" href="#tabsFive" class="tabs-toggle"><b>Inspirationsfag</b>&lt;/a>&lt;/label>
                                                <br>
                                                <br>
                                                
                                                &lt;label class="tabs">&lt;a data-toggle="collapse" data-parent="#accordion" href="#tabsSix" class="tabs-toggle"><b>Højskolefag</b>&lt;/a>&lt;/label>
                                        
                                           <br> &lt;/div>
                                        <br>&lt;/div>
                                        <br>
                                        <br>
                                        &lt;div id="tabsOne" class="panel-collapse collapse in">&lt;div class="panel-body">&lt;p><b>Insert content</b>&lt;/p>&lt;/div>&lt;/div>
                                        <br>
                                        <br>
                                       &lt;div id="tabsTwo" class="panel-collapse collapse in">&lt;div class="panel-body">&lt;p><b>Insert content</b>&lt;/p>&lt;/div>&lt;/div>
                                        <br>
                                        <br>
                                        &lt;div id="tabsThree" class="panel-collapse collapse in">&lt;div class="panel-body">&lt;p><b>Insert content</b>&lt;/p>&lt;/div>&lt;/div>
                                        <br>
                                        <br>
                                        &lt;div id="tabsFour" class="panel-collapse collapse in">&lt;div class="panel-body">&lt;p><b>Insert content</b>&lt;/p>&lt;/div>&lt;/div>
                                        <br>
                                        <br>
                                        &lt;div id="tabsFive" class="panel-collapse collapse in">&lt;div class="panel-body">&lt;p><b>Insert content</b>&lt;/p>&lt;/div>&lt;/div>
                                        <br>
                                        <br>
                                          &lt;div id="tabsSix" class="panel-collapse collapse in">&lt;div class="panel-body">&lt;p><b>Insert content</b>&lt;/p>&lt;/div>&lt;/div>
                                        <br>
                                    
                                    &lt;/div><br>
                                &lt;/div>
                          
                            
                            
     </code> </div>
                          <div class="breaker"></div>
                           <section id="alerts">
                <h3>Alerts</h3>
                <hr>
                <div class="alert alert-success" role="alert"> <strong>Well done!</strong> You successfully read this important alert message. </div>
                <div class="alert alert-info" role="alert"> <strong>Heads up!</strong> This alert needs your attention, but it's not super important. </div>
                <div class="alert alert-warning" role="alert"> <strong>Warning!</strong> Better check yourself, you're not looking too good. </div>
                <div class="alert alert-danger" role="alert"> <strong>Oh snap!</strong> Change a few things up and try submitting again. </div>
            </section>
                         
                             <div class="breaker"></div>
                             
                             
                          <section id="modal-2">
                <h3>Modal</h3>
                <hr>
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn-more" data-toggle="modal" data-target="#Modal-1"><i class="fa fa-info-circle" aria-hidden="true"></i> </button>
                <!-- Modal -->
                <div class="modal fade" id="Modal-1" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-header-close">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-header-title">
                                    <h4 class="modal-title">Course Title</h4></div>
                                    <div class="diagonal-end"></div>
                               </div>
                            <div class="modal-body">
                                <p>Some text in the modal.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                           <h5>Code guidelines</h5>
                          <div class="codebox" style="height:auto;"> <code>
    &lt;button type="button" class="btn-more" data-toggle="modal" data-target="#Modal-1">&lt;i class="fa fa-info-circle" aria-hidden="true">&lt;/i>&lt;/button>
    <br>
    <br>
      &lt;div class="modal fade" id="Modal-1" role="dialog">&lt;div class="modal-dialog">&lt;div class="modal-content">&lt;div class="modal-header">&lt;div class="modal-header-close">&lt;button type="button" class="close" data-dismiss="modal">&times;&lt;/button>&lt;/div>
                               <br><br> &lt;div class="modal-header-title">&lt;h4 class="modal-title">Course Title&lt;/h4>&lt;/div> &lt;div class="diagonal-end">&lt;/div>&lt;/div><br><br>&lt;div class="modal-body">&lt;p>Some text in the modal.&lt;/p>&lt;/div>&lt;/div>
                               <br>
                               <br>
                    &lt;/div><br>&lt;/div>
     </code> </div>
                          
                          
                           <div class="breaker"></div>
                           
                          <section id="buttons">
                <h3>Buttons</h3>
                <hr>
                <div class="field field--name-field-link field--type-link field--label-hidden field--item"><a class="btn" href="#">Læs mere</a></div>
                
                  <h5>Code guidelines</h5>
                <div class="codebox" style="height:auto;"> <code>
   
    <br>
<br>&lt;a class="btn" href="{{insert_link}}">Læs mere&lt;/a>
<br><br>
     </code> </div>
           
           <br>
           
           <a class="btn-simple" href="#">Læs mere</a>
           
            <div class="codebox" style="height:auto;"> <code>
    
<br>&lt;a class="btn-simple" href="{{insert_link}}">Læs mere&lt;/a>
<br><br>
     </code> </div>
           
            </section>
                           
                           
                     <div class="breaker"></div>
                           
                              <section id="colors">
                <h3>Colors</h3>
                <hr>
                <h5>System Colors</h5>
                <div class="main-content">
                    <!-- Primary Color -->
                    <div class="color">
                        <div class="color-preview" style="background-color:#00bcff;">#00bcff</div>
                        <p>$brand-primary</p>
                    </div>
                    <!-- Secondary Color -->
                    <div class="color">
                        <div class="color-preview" style="background-color:#00a5e2;">#00a5e2</div>
                        <p>$brand-second</p>
                    </div>
                    <!-- Secondary Color -->
                    <div class="color">
                        <div class="color-preview" style="background-color:#ff6400;">#ff6400</div>
                        <p>$brand-attention</p>
                    </div>
                    <!-- Secondary Color -->
                    <div class="color">
                        <div class="color-preview" style="background-color:#eee;color:#000;">#eee</div>
                        <p>$gray-lighter</p>
                    </div>
                    <!-- Secondary Color -->
                    <div class="color">
                        <div class="color-preview" style="background-color:#222;">#222</div>
                        <p>$gray-darker</p>
                    </div>
                    <!-- Secondary Color -->
                    <div class="color">
                        <div class="color-preview" style="background-color:#fff;color:#000;border:1px solid rgba(0,0,0,0.1);">#fff</div>
                        <p>$brand-pale</p>
                    </div>
                </div>
                <h5>Course Colors</h5>
                <div class="main-content">
                    <!-- Primary Color -->
                    <div class="color">
                        <div class="color-preview" style="background-color:#ff005f;">#ff005f</div>
                        <p>Håndbold</p>
                    </div>
                    <!-- Secondary Color -->
                    <div class="color">
                        <div class="color-preview" style="background-color:#e000ca;">#e000ca</div>
                        <p>Fodbold</p>
                    </div>
                    <!-- Secondary Color -->
                    <div class="color">
                        <div class="color-preview" style="background-color:#009bec;">#009bec</div>
                        <p>Basketball</p>
                    </div>
                    <!-- Secondary Color -->
                    <div class="color">
                        <div class="color-preview" style="background-color:#6e00e9;">#6e00e9</div>
                        <p>Functional Flow</p>
                    </div>
                    <!-- Secondary Color -->
                    <div class="color">
                        <div class="color-preview" style="background-color:#d3c000;">#d3c000</div>
                        <p>Polititræning</p>
                    </div>
                    <!-- Secondary Color -->
                    <div class="color">
                        <div class="color-preview" style="background-color:#00c808;">#00c808</div>
                        <p>Powerfitness</p>
                    </div>
                </div>
            </section>   
                                             
                            
                        </div>
                    </div>
                </div>
                <!-- End - content -->
                </section>
                <!-- End - content -->
        </div>
        <!-- End - content -->
        <!-- Begin - footer -->
        <footer class="layout__footer">
            <div class="layout__footer-inner"> {% if page.footer_top_first or page.footer_top_second or page.footer_top_third or page.footer_top_fourth %}
                <!-- Begin - footer top -->
                <div class="layout__footer-top-outer">
                    <div class="container">
                        <div class="layout__footer-top-inner">
                            <div class="row"> {% if page.footer_top_first %}
                                <div class="col-xs-12 col-sm-6 col-md-3"> {{ page.footer_top_first }} </div> {% endif %} {% if page.footer_top_second %}
                                <div class="col-xs-12 col-sm-6 col-md-3"> {{ page.footer_top_second }} </div> {% endif %} {% if page.footer_top_third %}
                                <div class="col-xs-12 col-sm-6 col-md-3"> {{ page.footer_top_third }} </div> {% endif %} {% if page.footer_top_fourth %}
                                <div class="col-xs-12 col-sm-6 col-md-3"> {{ page.footer_top_fourth }} </div> {% endif %} </div>
                        </div>
                    </div>
                </div>
                <!-- End - footer top -->{% endif %}
                <!-- Begin - footer bottom -->
                <div class="layout__footer-bottom-outer">
                    <div class="layout__footer-bottom-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="layout__footer-bottom-copyright">
                                        <p>{% trans %} © {{ theme_settings['copyright_interval'] }}, Vejle Idrætshøjskole. All rights reserved.{% endtrans %}</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="layout__footer-bottom-social">
                                        <ul class="list-inline pull-right">
                                            <li><a href="#"><span class="icon fa fa-instagram"></span></a></li>
                                            <li><a href="#"><span class="icon fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="icon fa fa-facebook"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End - footer bottom -->
            </div>
        </footer>
        <!-- End - footer -->
    </main>
    <!-- End - document -->
    <!-- Begin - obfuscator -->
    <div class="layout__obfuscator"></div>
    <!-- End - obfuscator -->
</div>
<!-- End - wrapper -->
 No newline at end of file
