<!-- Begin - outer wrapper -->
<div class="outer-wrapper layout-fixed-drawer">

    <!-- Begin - drawer -->
    <div class="layout-drawer is-visible" aria-hidden="true">

        <!-- Begin - title -->
        <span class="mdl-layout-title">Title</span>
        <!-- End - title -->

        <!-- Begin - navigation -->
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
        <!-- End - navigation -->

    </div>
    <!-- End - drawer -->

    <!-- Begin - obfuscator -->
    <div class="layout-obfuscator is-visible"></div>
    <!-- End - obfuscator -->

    <!-- Begin - inner wrapper -->
    <main class="inner-wrapper" role="document">

        <!-- Begin - drawer button -->
        <div aria-expanded="false" data-toggle-drawer role="button" tabindex="0" class="layout-drawer-button">
            <span class="icon"></span>
        </div>
        <!-- End - drawer toggle -->

        <!-- Begin - navigation -->
        {#<header class="header mdl-layout__header">#}
            {#<div class="mdl-layout__header-row">#}

                {#<!-- Begin - title -->#}
                {#<span class="mdl-layout-title">Title</span>#}
                {#<!-- End - title -->#}

                {#<!-- Begin - spacer -->#}
                {#<!-- Add spacer, to align navigation to the right -->#}
                {#<div class="mdl-layout-spacer"></div>#}
                {#<!-- End - spacer -->#}

                {#<!-- Begin - navigation -->#}
                {#<!-- We hide it in small screens. -->#}
                {#<nav class="mdl-navigation mdl-layout--large-screen-only">#}
                    {#<a class="mdl-navigation__link" href="">Link</a>#}
                    {#<a class="mdl-navigation__link" href="">Link</a>#}
                    {#<a class="mdl-navigation__link" href="">Link</a>#}
                    {#<a class="mdl-navigation__link" href="">Link</a>#}
                {#</nav>#}
                {#<!-- End - navigation -->#}

            {#</div>#}
        {#</header>#}
        <!-- End - navigation -->

        <!-- Begin - content -->
        <div class="content">

            {# Banner #}
            {% if page.banner %}
                {% block banner %}
                    <div class="banner">
                        {{ page.banner }}
                    </div>
                {% endblock %}
            {% endif %}

            {# Header #}
            {% if page.header %}
                {% block header %}
                    <div role="heading">
                        <div class="angled-background-color angled-background-color-white">
                            <div class="angled-background-inner">
                                <div class="container">
                                    {{ page.header }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            {% endif %}

            <!-- Begin - content -->
            <section{{ content_attributes.addClass(content_classes) }}>
                {% block content %}
                    <!-- Begin - content -->
                    <a id="main-content"></a>

                    {% if node %}
                        {{ page.content }}
                    {% else %}
                        <div class="angled-background-color angled-background-color-white">
                            <div class="angled-background-inner">
                                <div class="container">
                                    {{ page.content }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- End - content -->
                {% endblock %}
            </section>
            <!-- End - content -->

        </div>
        <!-- End - content -->

        <!-- Begin - footer -->
        <footer class="footer">
            <div class="footer-inner">

                {% if page.footer_top_first or page.footer_top_second or page.footer_top_third or page.footer_top_fourth %}
                    <!-- Begin - footer top -->
                    <div class="footer-top-outer">
                        <div class="container">
                            <div class="footer-top-inner">
                                <div class="row">

                                    {% if page.footer_top_first %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            {{ page.footer_top_first }}
                                        </div>
                                    {% endif %}

                                    {% if page.footer_top_second %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            {{ page.footer_top_second }}
                                        </div>
                                    {% endif %}

                                    {% if page.footer_top_third %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            {{ page.footer_top_third }}
                                        </div>
                                    {% endif %}

                                    {% if page.footer_top_fourth %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            {{ page.footer_top_fourth }}
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End - footer top -->
                {% endif %}

                <!-- Begin - footer bottom -->
                <div class="footer-bottom-outer">
                    <div class="footer-bottom-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="footer-bottom-copyright">
                                        <p>{% trans %} © {{ theme_settings['copyright_interval'] }}, Vejle Idrætshøjskole. All rights reserved.{% endtrans %}</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="footer-bottom-social">
                                        <ul class="list-inline pull-right">
                                            <li><a href="#"><span class="icon fa fa-instagram"></span></a></li>
                                            <li><a href="#"><span class="icon fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="icon fa fa-facebook"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End - footer bottom -->

            </div>
        </footer>
        <!-- End - footer -->

    </main>
    <!-- End - inner wrapper -->

</div>
<!-- End - outer wrapper -->
