<!-- Begin - outer wrapper -->
<div class="outer-wrapper">

    <!-- Begin - sidebar left -->
    <div class="sidebar sidebar-left">

        <!-- Begin - inner wrapper -->
        <div class="sidebar-inner-wrapper">

            <!-- Begin - logo -->
            <div class="sidebar-logo">
                {#<a href="<?php echo $front_page; ?>" class="sidebar-logo-link">#}
                    {#<img src="<?php echo $path_img . '/logo-sidebar-wide.png'; ?>"#}
                         {#class="sidebar-logo-image sidebar-logo-image-wide"#}
                         {#alt="<?php echo $site_name . t(' logo'); ?>"/>#}
                    {#<img src="<?php echo $path_img . '/logo-sidebar-narrow.png'; ?>"#}
                         {#class="sidebar-logo-image sidebar-logo-image-narrow"#}
                         {#alt="<?php echo $site_name . t(' logo'); ?>"/>#}
                {#</a>#}
            </div>
            <!-- End - logo -->

            {% if page.sidebar_left %}
                {% block sidebar_left %}
                    {{ page.sidebar_left }}
                {% endblock %}
            {% endif %}

        </div>
        <!-- End - inner wrapper -->

    </div>
    <!-- End - sidebar left -->

    <!-- Begin - inner wrapper -->
    <div class="inner-wrapper" role="document">

        <!-- Begin - simple navigation -->
        <nav class="navigation-bar">

            <!-- Begin - button list -->
            <ul class="navigation-bar-list navigation-bar-list-left">

                <!-- Begin - button -->
                <li class="navigation-bar-button">
                    <a href="#" data-sidebar-toggle="left"><span class="fa icon fa-bars"></span></a>
                </li>
                <!-- End - button -->

            </ul>
            <!-- End - button list -->

            <!-- Begin - logo -->
            {#<a href="<?php echo $front_page; ?>" class="navigation-bar-logo-link">#}
                {#<img src="<?php echo $path_img . '/logo-navigation-bar.png'; ?>" class="navigation-bar-logo-image"#}
                     {#alt="<?php echo t('fredericia.dk logo'); ?>"/>#}
            {#</a>#}
            <!-- End - logo -->

        </nav>
        <!-- End - simple navigation -->

        <!-- Begin - content -->
        <div class="content">

            <!-- Begin - main navigation -->
            <nav class="main-navigation-wrapper">
                <section class="main-navigation-bar">
                    <div class="container">
                        <div class="row">

                            <!-- Begin - content -->
                            <div class="col-md-4">
                                {#<a href="<?php echo $front_page; ?>" class="main-navigation-logo-link">#}
                                    {#<img src="<?php echo $path_img; ?>/logo-main-navigation.png" alt="" class="main-navigation-logo-image">#}
                                {#</a>#}
                            </div>
                            <!-- End - content -->

                            {% if page.main_navigation %}
                                <!-- Begin - content -->
                                {% block main_navigation %}
                                    <div class="col-md-8 main-navigation-right">
                                        <!-- Begin - navigation -->
                                        {{ page.main_navigation }}
                                        <!-- End - navigation -->
                                    </div>
                                {% endblock %}
                                <!-- End - content -->
                            {% endif %}

                        </div>
                    </div>
                </section>
            </nav>
            <!-- End - main navigation -->

            {# Banner #}
            {% if page.banner %}
                {% block banner %}
                    <div class="banner">
                        {{ page.banner }}
                    </div>
                {% endblock %}
            {% endif %}

            <!-- Begin - content inner -->
            <div class="content-inner">

                {# Header #}
                {% if page.header %}
                    {% block header %}
                        <div role="heading">
                            <div class="angled-background-color angled-background-color-white">
                                <div class="angled-background-inner">
                                    <div class="container">
                                        {{ page.header }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                {% endif %}

                <!-- Begin - content -->
                <section{{ content_attributes.addClass(content_classes) }}>
                    {% block content %}
                        <!-- Begin - content -->
                        <a id="main-content"></a>

                        {% if node %}
                            {{ page.content }}
                        {% else %}
                            <div class="angled-background-color angled-background-color-white">
                                <div class="angled-background-inner">
                                    <div class="container">
                                        {{ page.content }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- End - content -->
                    {% endblock %}
                </section>
                <!-- End - content -->

            </div>
            <!-- End - content inner -->

        </div>
        <!-- End - content -->

        <!-- Begin - footer -->
        <footer class="footer">
            <div class="footer-inner">

                {% if page.footer_top_first or page.footer_top_second or page.footer_top_third or page.footer_top_fourth %}
                    <!-- Begin - footer top -->
                    <div class="footer-top-outer">
                        <div class="container">
                            <div class="footer-top-inner">
                                <div class="row">

                                    {% if page.footer_top_first %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            {{ page.footer_top_first }}
                                        </div>
                                    {% endif %}

                                    {% if page.footer_top_second %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            {{ page.footer_top_second }}
                                        </div>
                                    {% endif %}

                                    {% if page.footer_top_third %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            {{ page.footer_top_third }}
                                        </div>
                                    {% endif %}

                                    {% if page.footer_top_fourth %}
                                        <div class="col-xs-12 col-sm-6 col-md-3">
                                            {{ page.footer_top_fourth }}
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End - footer top -->
                {% endif %}

                <!-- Begin - footer bottom -->
                <div class="footer-bottom-outer">
                    <div class="footer-bottom-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="footer-bottom-copyright">
                                        <p>{% trans %} © {{ theme_settings['copyright_interval'] }}, Vejle Idrætshøjskole. All rights reserved.{% endtrans %}</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="footer-bottom-social">
                                        <ul class="list-inline pull-right">
                                            <li><a href="#"><span class="icon fa fa-instagram"></span></a></li>
                                            <li><a href="#"><span class="icon fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="icon fa fa-facebook"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End - footer bottom -->

            </div>
        </footer>
        <!-- End - footer -->

    </div>
    <!-- End - inner wrapper -->

</div>
<!-- End - outer wrapper -->
