{% set classes = [
term.bundle|clean_class,
term.isPromoted() ? 'is-promoted',
term.isSticky() ? 'is-sticky',
not term.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
] %}

  {% if term.field_vih_top_banner.value %}
    {# Begin - image #}
      {% set banner_background_image = term.field_vih_top_banner.entity.image.entity.fileuri | image_style('banner_small') %}
    {# End - image #}
    <div class="banner banner--small" style="background-image: url({{ banner_background_image }})">
      <div class="banner__inner">
        <div class="container">
          <div class="banner__heading">
            {% if term.field_vih_top_banner_text.value %}
              <h1 class="banner__heading__title">{{ term.field_vih_top_banner_text.value }}</h1>
            {% elseif name %}
              <h1 class="banner__heading__title">{{ name | raw }}</h1>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{# End - banner #}

<article{{ attributes.addClass(classes) }}>

  <!-- Begin - content -->
  <section class="sectioned sectioned--content">
    <div class="sectioned__inner">
      <div class="container">
        <div class="partial">
          <div class="partial__body">

            {# Begin - headings #}
            {% if term.field_vih_subheading.value %}

              <!-- Begin - heading -->
              <div class="sectioned__heading">
                <h2 class="sectioned__heading__title">{{ name }}</h2>
              </div>
              <!-- End - heading -->

              {% if term.field_vih_subheading.value %}
                <!-- Begin - subheading -->
                <div class="sectioned__subheading">
                  <h3 class="sectioned__subheading__title heading-h4">{{ content.field_vih_subheading.0 }}</h3>
                </div>
                <!-- End - subheading -->
              {% endif %}

            {% endif %}
            {# End - headings #}

            {{ content.description }}

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End - content -->

  {# Begin - paragraphs #}
  {{ content.field_vih_paragraphs }}
  {# End - paragraphs #}

</article>
