<section{{ attributes.addClass('banner-inner') }}>

    <!-- Begin - overlay -->
    <div class="banner-overlay"></div>
    <!-- End - overlay -->

    <!-- Begin - logo -->
    <div class="banner-logo">
        <svg width='100%' height='100%' viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="107 0, 0 100, 100 100" fill="rgba(0, 188, 255, 0.85)" id="svgoverlay" />
    </svg>
        <div class="banner-logo-image"></div>
    </div>
    <!-- End - logo -->

    {% if content.field_image is not empty %}
        {{ content.field_image }}
    {% endif %}

    <!-- Begin - content -->
    <div class="banner-content">
        <div class="container">

            {{ title_prefix }}
            {% if label %}
                <h2{{ title_attributes.addClass('banner-title') }}>{{ content.field_image['#items'].alt }}</h2>
            {% endif %}
            {{ title_suffix }}

            {% if content.field_link is not empty %}
                {{ content.field_link }}
            {% endif %}

        </div>
    </div>
    <!-- End - content -->

</section>
