{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>

    {% if background_image %}
    <div class="angled-background-image-wrapper">
        <div class="cover-overlay"></div>
        <div class="angled-background-image-element" style="background-image: url({{ background_image }})"></div>
    </div>
    {% endif %}


        <div class="row" style="background-color: #f1f1f1; !important; padding-left: 50px; padding-right: 50px; padding-top: 25px; padding-bottom: 50px; border-top:25px solid #fff;">
            <div class="col-lg-3 col-md-3">
                {{ content.field_photo }}
            </div>
            <div class="col-lg-9 col-md-9">
                {{ content.field_heading }}
                {{ content.field_description }}
            </div>
        </div>

</div>
