{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>


  <div class="container">
    {{ content.field_heading }} 

    {% for key,package in content.view_output %}
      <div class="row">
        <div class="panel panel-default white-border-bottom">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle collapsed" data-toggle="collapse" href="#{{ key }}" aria-expanded="true">
                {{ package.package }}
              </a>

            </h4>
          </div>

          <div id="{{ key }}" class="collapse">
            <div class="container class-container">
              {{ package.classes }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

  </div>
</div>