{% set classes = [
term.bundle|clean_class,
term.isPromoted() ? 'is-promoted',
term.isSticky() ? 'is-sticky',
not term.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
] %}
<article{{ attributes.addClass(classes) }}>

    <!-- Begin - content -->
    <section class="sectioned sectioned--content">
        <div class="sectioned__inner">
            <div class="container">
                <div class="partial">
                    <div class="partial__body">

                        {# Begin - headings #}
                        {% if term.field_heading.value or term.field_subheading.value %}

                            {% if term.field_heading.value %}
                                <!-- Begin - heading -->
                                <div class="sectioned__heading">
                                    <h2 class="sectioned__heading__title">{{ content.field_heading.0 }}</h2>
                                </div>
                                <!-- End - heading -->
                            {% endif %}

                            {% if term.field_subheading.value %}
                                <!-- Begin - subheading -->
                                <div class="sectioned__subheading">
                                    <h3 class="sectioned__subheading__title heading-h4">{{ content.field_subheading.0 }}</h3>
                                </div>
                                <!-- End - subheading -->
                            {% endif %}

                        {% endif %}
                        {# End - headings #}

                        {{ content.description }}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End - content -->

    {# Begin - paragraphs #}
    {{ content.field_paragraphs }}
    {# End - paragraphs #}

</article>
