{# Begin - course periods #}
{% set open_collapsible = true %}
{% for periodDelta, coursePeriod in form['#coursePeriods'] %}

  {% if coursePeriod['courseSlots'] | length %}

    <div class="boxy boxy--course-periods course-periods-accordion">
      <div class="boxy__body">
        <div class="panel-group" id="accordion" role="tablist">

          <!-- Begin - heading -->
          <div class="panel-group__heading">
            <h4 class="panel-group__heading__title">
              {{ coursePeriod['title'] }}
            </h4>
          </div>
          <!-- End - heading -->

          {% for slotDelta, courseSlot in coursePeriod['courseSlots'] %}
            <div class="panel panel-default">

              <!-- Begin - heading -->
              <div class="panel-heading"
                   id="heading-{{ periodDelta }}-{{ slotDelta }}">
                <h4 class="panel-title heading-h5">
                  <a role="button" data-toggle="collapse"
                     data-parent="#accordion"
                     href="#collapse-{{ periodDelta }}-{{ slotDelta }}"
                     aria-expanded="{% if open_collapsible %}true{% else %}false{% endif %}"
                     aria-controls="collapse-{{ periodDelta }}-{{ slotDelta }}">
                    {{ courseSlot['title'] }}
                  </a>
                </h4>
              </div>
              <!-- End - heading -->

              <!-- Begin - body -->
              <div id="collapse-{{ periodDelta }}-{{ slotDelta }}"
                   class="panel-collapse collapse {% if open_collapsible %}in{% endif %}"
                   role="tabpanel"
                   aria-labelledby="heading-{{ periodDelta }}-{{ slotDelta }}">

                <div class="panel-body">
                  {{ form['classes'][courseSlot['availableClasses']['cid']] }}
                </div>
              </div>
              <!-- End - body -->

            </div>
            {% set open_collapsible = false %}
          {% endfor %}

        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
{# End - course periods #}
