<div class="col-md-12">
  {{ form['top'] }}
</div>
<div class="col-md-6">
  {{ form['left'] }}
</div>

<div class="col-md-6">
  {{ form['right']['land'] }}
  {{ form['right']['address'] }}

  <div class="row">
    <div class="col-xs-4">
      {{ form['right']['houseNumber'] }}
    </div>
    <div class="col-xs-4">
      {{ form['right']['houseLetter'] }}
    </div>
    <div class="col-xs-4">
      {{ form['right']['houseFloor'] }}
    </div>
  </div>

  {{ form['right']|without('land','address','houseNumber','houseLetter', 'houseFloor') }}
</div>
