{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<li>
  <div{{ attributes.addClass(classes) }}>

      {# Begin - name #}
      <b>{{ content.field_vih_oo_group_name }}</b>
      {# End - name #}

      {# Begin - option #}
      {{ paragraph.field_vih_oo_option_name.value }}
        {# Begin - suboption #}
        {% if paragraph.field_vih_oo_suboption.value %}
          / {{ paragraph.field_vih_oo_suboption.value }}
        {% endif %}
        {# End - suboption #}

        {% if paragraph.field_vih_oo_price_addition.value %}
          {# Begin - price addition #}
          (+ kr. {{ paragraph.field_vih_oo_price_addition.value }})
          {# End - price addition #}
        {% endif %}
      {# End - option #}
  </div>
</li>
