{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>

    {# Begin - name #}
    <h5>{{ content.field_vih_oo_group_name }}</h5>
    {# End - name #}

    {# Begin - price addition #}
    {{ content.field_vih_oo_price_addition }}
    {# End - price addition #}

    {# Begin - option #}
    {{ content.field_vih_oo_option_name }}
    {# End - option #}

    {# Begin - suboption #}
    {% if paragraph.field_vih_oo_suboption.value %}
        - {{ paragraph.field_vih_oo_suboption.value }}
    {% endif %}
    {# End - suboption #}

</div>
