{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes).addClass('boxy', 'boxy--participant') }}>
    <div class="boxy__body">

        {# Begin - name #}
        <h4>
            {{ paragraph.field_vih_ocp_first_name.value }} {{ paragraph.field_vih_ocp_last_name.value }}
        </h4>
        {# End - name #}
        {# Begin - CPR #}
        <div>
          {{ "CPR"|t }}: {{ paragraph.field_vih_ocp_cpr.value }}
        </div>
        {# End - email #}
        {# Begin - email #}
        <div>
          {{ "Email"|t }}: {{ paragraph.field_vih_ocp_email.value }}
        </div>
        {# End - email #}
        {# Begin - address #}
        <div>
          {{ "Address"|t }}: {{ paragraph.field_vih_ocp_address.value }}
        </div>
        {# End - address #}
        {# Begin - city #}
        <div>
          {{ "City"|t }}: {{ paragraph.field_vih_ocp_zip.value }} {{ paragraph.field_vih_ocp_city.value }}
        </div>
        {# End - city #}
        {# Begin - country #}
        <div>
          {{ "Country"|t }}: {{ paragraph.field_vih_ocp_country.value }}
        </div>
        {# End - country #}

        {# Begin - ordered options #}
        <ul>
          {{ content.field_vih_ocp_ordered_options }}
        </ul>
        {# End - ordered options #}

        {# Begin - comment #}
        {% if paragraph.field_vih_ocp_comment.value %}
          <div>
            {{ "Comment"|t }}: {{ paragraph.field_vih_ocp_comment.value }}
          </div>
        {% endif %}
        {# End - comement #}

        {# Begin - newsletter #}
        <div>
          {{ "Newsletter"|t }}:
          {% if paragraph.field_vih_ocp_newsletter.value %}
            {{ "yes"|t }}
          {% else %}
            {{ "no"|t }}
          {% endif %}
        </div>
        {# End - newsletter #}

    </div>
</div>
