{%
    set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'element-wrapper-link',
    'entity-list-advanced',
    'entity-list-advanced--class'
]
%}
{% set class_modal_id = 'modal-class--'~term.id~'--'~random() %}

<div {{ attributes.addClass(classes) }}>

    {# Begin - image #}
    {% if term.field_vih_class_image.value %}
        <div class="entity-list-advanced__image" style="background-image: url({{ term.field_vih_class_image.entity.fileuri | image_style(content.field_vih_class_image[0]['#image_style']) }});">
            <div class="entity-list-advanced__image__overlay entity-list-advanced__image__overlay--{{ term.field_vih_class_color.value }}">
                {{ name }}
            </div>
        </div>
    {% endif %}
    {# End - image #}

    <!-- Begin - body -->
    <div class="entity-list-advanced__body">

        {# Begin - short description #}
        {{ content.field_short_description }}
        {# End - short description #}

    </div>
    <!-- End - body -->

    <!-- Begin - action -->
    <div class="entity-list-advanced__action">
        <button class="btn btn-default" data-toggle="modal" data-target="#{{ class_modal_id }}" data-backdrop="static">
            <span class="icon icon-info-circle"></span>
        </button>
    </div>
    <!-- End - action -->

    {# Begin - modal #}
    <div class="modal fade modal-static" id="{{ class_modal_id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                {# Begin - header #}
                {% if term.field_vih_class_image.value %}
                    <div class="modal-header" style="background-image: url({{ term.field_vih_class_image.entity.fileuri | image_style('modal')}});">
                        <button type="button" class="close modal-close--this-modal-only" aria-label="{{ 'Close' | trans }}">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <h3 class="modal-title heading-h1">{{ name }}</h3>
                    </div>
                {% endif %}
                {# End - header #}

                {# Begin - body #}
                <div class="modal-body">
                    {{ content.description }}
                </div>
                {# End - body #}

            </div>
        </div>
    </div>
    {# End - modal #}

</div>
