{%
    set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'element-wrapper-link',
    'entity-list-advanced',
    'entity-list-advanced--class'
]
%}
<a href="{{ url }}" {{ attributes.addClass(classes) }}>

    {# Begin - image #}
    {% if term.field_vih_class_image.value %}
        <div class="entity-list-advanced__image" style="background-image: url({{ term.field_vih_class_image.entity.fileuri | image_style(content.field_vih_class_image[0]['#image_style']) }});"></div>
    {% endif %}
    {# End - image #}

    <!-- Begin - body -->
    <div class="entity-list-advanced__body">

        {# Begin - name #}
        <div class="entity-list-advanced__heading">
            <h2 class="entity-list-advanced__heading__title heading-h4">
                {{ name }}
            </h2>
        </div>
        {# End - name #}

        {# Begin - short description #}
        {{ content.field_short_description }}
        {# End - short description #}

    </div>
    <!-- End - body -->

    <!-- Begin - action -->
    <div class="entity-list-advanced__action">
        <button class="btn btn-default">{{ 'Read more' | trans }}</button>
    </div>
    <!-- End - action -->

</a>
