<div {{ attributes.addClass('entity-list-advanced', 'entity-list-advanced--class') }}>

    {# Begin - image #}
    {% if term.field_vih_class_image.value %}
        <div class="entity-list-advanced__image" style="background-image: url({{ term.field_vih_class_image.entity.fileuri | image_style(content.field_vih_class_image[0]['#image_style']) }});">

            {# Begin - name #}
            <div class="entity-list-advanced__image__overlay">
                {{ name }}
            </div>
            {# End - name #}

        </div>
    {% endif %}
    {# End - image #}

    <!-- Begin - body -->
    <div class="entity-list-advanced__body">

        {# Begin - description #}
        <div class="entity-list-advanced__heading">
            <h2 class="entity-list-advanced__heading__title heading-h4">
                {{ content.description | render | striptags('<!-- -->') | length > 70 ? content.description | render | striptags('<!-- -->') | slice(0, 70) ~ '...' : content.description }}
            </h2>
        </div>
        {# End - description #}

    </div>
    <!-- End - body -->

    <!-- Begin - action -->
    <div class="entity-list-advanced__action">
        <button class="btn btn-default" data-toggle="modal" data-target="#class-modal-cp-{{ term.id }}">
            <span class="icon icon-info-circle"></span>
        </button>
    </div>
    <!-- End - action -->

    <!-- Begin - modal -->
    <div class="modal fade" id="class-modal-cp-{{ term.id }}" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"
                     style="background-image: url('{{ file_url(term.field_vih_class_image.entity.fileuri) }}'); background-size: cover">
                    <div class="modal-header-close">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>

                    <div class="modal-header-title"><h4 class="modal-title">{{ name }}</h4></div>
                    <div class="diagonal-end"></div>
                </div>

                <div class="modal-body">
                    {{ content.description }}
                </div>
            </div>
        </div>
    </div>
    <!-- End - modal -->

</div>
