{%
    set classes = [
    'sectioned',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<section{{ attributes.addClass(classes) }}>
    <div class="sectioned--skewed-angle-top">
        <div class="sectioned--skewed-angle-bottom">

            {% if background_image %}
                <div class="angled-background-image-wrapper">
                    <div class="cover-overlay"></div>
                    <div class="angled-background-image-element" style="background-image: url({{ background_image }})"></div>
                </div>
            {% endif %}

            <div class="sectioned__inner">
                <div class="container">

                    <div class="partial">
                        <div class="partial__body">

                            {# Begin - heading #}
                            {{ content.field_vih_heading }}
                            {# End - heading #}

                            <table class="table table-bordered">
                                <tr>
                                    <td class="user-image" style="background-image: url({{ content['#teacher'].field_vih_user_photo.entity.image.entity.fileuri | image_style('vih_person_teaser') }});">
                                        {% if content['#teacher'].field_vih_user_name_first.value and content['#teacher'].field_vih_user_name_last.value %}
                                            <div class="photo__overlay">
                                                <div class="photo__overlay__text">
                                                    {{ content['#teacher'].field_vih_user_name_first.value }}
                                                    {{ content['#teacher'].field_vih_user_name_last.value }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td class="hidden-xs">

                                        {# Begin - name #}
                                        {% if content['#teacher'].field_vih_user_name_first.value and content['#teacher'].field_vih_user_name_last.value %}
                                            <h3>{{ content['#teacher'].field_vih_user_name_first.value }} {{ content['#teacher'].field_vih_user_name_last.value }}</h3>
                                        {% endif %}
                                        {# End - name #}

                                        {{ content.field_vih_text }}

                                    </td>
                                    <td class="teacher-contact-info hidden-xs">
                                        <h5>{{ "Contact information"|trans }}:</h5>

                                        {# Begin - phone #}
                                        {% if content['#teacher'].field_vih_user_phone.value %}
                                            <span class="teacher-phone"><span class="icon icon-phone"></span> {{ content['#teacher'].field_vih_user_phone }}</span>

                                            <br>
                                        {% endif %}
                                        {# End - phone #}

                                        {# Begin - email #}
                                        <span class="teacher-mail"><span class="icon icon-mail"></span> {{ content['#teacher'].email }}</span>
                                        {# End - email #}

                                    </td>
                                </tr>
                                <tr class="visible-xs">
                                    <td colspan="2">

                                        {# Begin - name #}
                                        {% if content['#teacher'].field_vih_user_name_first.value and content['#teacher'].field_vih_user_name_last.value %}
                                            <h3>{{ content['#teacher'].field_vih_user_name_first.value }} {{ content['#teacher'].field_vih_user_name_last.value }}</h3>
                                        {% endif %}
                                        {# End - name #}

                                        {{ content.field_vih_text }}

                                    </td>
                                </tr>
                                <tr class="visible-xs">
                                    <td class="teacher-contact-info">
                                        <h5>{{ "Contact information"|trans }}:</h5>

                                        {# Begin - phone #}
                                        {% if content['#teacher'].field_vih_user_phone.value %}
                                            <span class="teacher-phone"><span class="icon icon-phone"></span> {{ content['#teacher'].field_vih_user_phone }}</span>

                                            <br>
                                        {% endif %}
                                        {# End - phone #}

                                        {# Begin - email #}
                                        <span class="teacher-mail"><span class="icon icon-mail"></span> {{ content['#teacher'].email }}</span>
                                        {# End - email #}

                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
