{%
set classes = [
'sectioned',
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<section{{ attributes.addClass(classes) }}>
    <div class="sectioned--skewed-angle-top">
        <div class="sectioned--skewed-angle-bottom">

            {% if background_image %}
                <div class="angled-background-image-wrapper">
                    <div class="cover-overlay"></div>
                    <div class="angled-background-image-element" style="background-image: url({{ background_image }})"></div>
                </div>
            {% endif %}

            <div class="sectioned__inner">
                <div class="container">

                    {# Begin - heading #}
                    {{ content.field_heading }}
                    {# End - heading #}

                    {# Begin - person #}
                    {% if paragraph.field_vih_person_photo.value %}
                        <div class="row row--equal-height-columns">
                            <div class="col-xs-12 col-sm-4 col-md-3">

                                {# Begin - photo #}
                                {{ content.field_vih_person_photo }}
                                {# End - photo #}

                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-9">
                                <blockquote>

                                    {# Begin - quote #}
                                    {{ content.field_vih_text }}
                                    {# End - quote #}

                                    {# Begin - author #}
                                    <footer>
                                        <cite>{{ content.field_vih_author }}</cite>
                                    </footer>
                                    {# End - author #}

                                </blockquote>

                            </div>
                        </div>
                    {% else %}

                        <blockquote>

                            {# Begin - quote #}
                            {{ content.field_vih_text }}
                            {# End - quote #}

                            {# Begin - author #}
                            <footer>
                                <cite>{{ content.field_vih_author }}</cite>
                            </footer>
                            {# End - author #}

                        </blockquote>

                    {% endif %}
                    {# End - person #}

                    {# Begin - link #}
                    {{ content.field_vih_link }}
                    {# End - link #}

                </div>

            </div>
        </div>
    </div>
</section>
