{% set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
] %}

<article{{ attributes.addClass(classes) }}>

    <!-- Begin - content -->
    <section class="sectioned sectioned--content">
        <div class="sectioned__inner">
            <div class="container">

                {# Begin - course status #}
                {% if content.is_active %}

                    {% if not content.can_be_subscribed %}
                        <div class="boxy boxy--course-status">
                            <div class="boxy__body">
                                {{ 'No more available slots on this course' | trans }}
                            </div>
                        </div>
                    {% endif %}

                {% else %}
                    <div class="boxy boxy--course-status">
                        <div class="boxy__body">
                            {% if content.is_closed %}
                                {{ 'This course is closed for signups.' | trans }}
                            {% else %}
                                {{ 'This course has been cancelled' | trans }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {# End - course status #}

                <div class="partial">
                    <div class="partial__body">

                        <div class="row">
                            <div class="col-sm-6">

                                {# Begin - headings #}
                                {% if node.field_vih_course_heading.value or node.field_vih_course_subheading.value %}

                                    {% if node.field_vih_course_heading.value %}
                                        <!-- Begin - heading -->
                                        <div class="sectioned__heading">
                                            <h2 class="sectioned__heading__title">{{ content.field_vih_course_heading.0 }}</h2>
                                        </div>
                                        <!-- End - heading -->
                                    {% endif %}

                                    {% if node.field_vih_course_subheading.value %}
                                        <!-- Begin - subheading -->
                                        <div class="sectioned__subheading">
                                            <h3 class="sectioned__subheading__title heading-h4">{{ content.field_vih_course_subheading.0 }}</h3>
                                        </div>
                                        <!-- End - subheading -->
                                    {% endif %}

                                {% endif %}
                                {# End - headings #}

                                {# Begin - period #}
                                {% if content.course_period_start or content.course_period_end %}
                                    <div class="boxy boxy--time-period">
                                        <div class="boxy__heading">
                                            <h2 class="boxy__heading__title heading-h4">{{ 'Course start' | trans }}</h2>
                                        </div>

                                        <div class="boxy__body">
                                            <div class="time-period">
                                                <div class="time-period__icon">
                                                    <span class="icon icon-time"></span>
                                                </div>

                                                <div class="time-period__list">
                                                    <div class="time-period__list__item">
                                                        {{ content.course_period_start | format_date('default_medium_date_without_time') }}
                                                        - {{ content.course_period_end | format_date('default_medium_date_without_time') }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {# End - period #}

                                {# Begin - body #}
                                {{ content.body }}
                                {# End - body #}

                            </div>
                            <div class="col-sm-6">

                                {# Begin - travel #}
                                {% if content.travel_classes %}
                                    <div class="partial partial--travel">
                                        <div class="partial__heading">
                                            <h3 class="partial__heading__title heading-h4">
                                                {{ 'Get travelling' | trans }}
                                            </h3>
                                        </div>
                                        <div class="partial__subheading">
                                            <h3 class="partial__subheading__title heading-h5">
                                                {{ 'Tailor your stay across course packages' | trans }}
                                            </h3>
                                        </div>
                                        <div class="partial__body">
                                            <div class="row">

                                                {% for travel_class in content.travel_classes %}
                                                    <div class="col-sm-6">
                                                        {{ travel_class }}
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {# End - travel #}

                                <!-- Begin - class packages -->
                                <div class="boxy boxy--class-packages">
                                    <div class="boxy__heading">
                                        <h3 class="boxy__heading__title heading-h4">{{ 'Course packages' | trans }}</h3>
                                    </div>
                                    <div class="boxy__subheading">
                                        <h4 class="boxy__subheading__title heading-h5">{{ 'Tailor your stay across course packages' | trans }}</h4>
                                    </div>
                                    <div class="boxy__body">

                                        <!-- Begin - panels -->
                                        <div class="panel-group" id="accordion" role="tablist">

                                            <div class="panel-group__heading">
                                                <h4 class="panel-group__heading__title">
                                                    {{ 'Course packages' | trans }}
                                                </h4>
                                            </div>

                                            {% for class_package_id, class_package in content.classes_packages %}
                                                <div class="panel panel-default panel-type--{{ class_package.term['#taxonomy_term'].field_vih_class_package_color.value }}">

                                                    <!-- Begin - heading -->
                                                    <div class="panel-heading" id="heading-{{ class_package_id }}">
                                                        <h4 class="panel-title heading-h5">
                                                            <a role="button" data-toggle="collapse"
                                                               data-parent="#accordion"
                                                               href="#collapse-{{ class_package_id }}"
                                                               aria-expanded="false"
                                                               aria-controls="collapse-{{ class_package_id }}">
                                                                {{ class_package.name }}
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <!-- End - heading -->

                                                    <!-- Begin - body -->
                                                    <div id="collapse-{{ class_package_id }}"
                                                         class="panel-collapse collapse" role="tabpanel"
                                                         aria-labelledby="heading-{{ class_package_id }}">

                                                        {% if file_url(class_package.term['#taxonomy_term'].field_vih_cp_image.entity.fileuri) %}
                                                            <div class="panel-image">
                                                                <img src="{{ class_package.term['#taxonomy_term'].field_vih_cp_image.entity.fileuri | image_style('vih_class_package_accordion') }}"
                                                                     alt="">
                                                            </div>
                                                        {% endif %}

                                                        <div class="panel-body">
                                                            {{ class_package.term }}
                                                        </div>
                                                    </div>
                                                    <!-- End - body -->

                                                </div>
                                            {% endfor %}

                                        </div>
                                        <!-- End - panels -->

                                    </div>
                                </div>
                                <!-- End - class packages -->

                            </div>
                        </div>
                    </div>
                </div>

                {# Begin - action button #}
                {% if content.is_active and content.can_be_subscribed %}
                    <div class="partial partial--action-button">
                        <div class="partial__body">
                            <a href="{{ url('vih_subscription.long_course_order_create', {'course': node.id}) }}"
                               class="btn btn-primary">
                                {{ "Join course and choose your subjects" | trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}
                {# End - action button #}

                {# Begin - teacher #}
                {% if node.field_vih_cource_contact_person.value %}
                    <div class="partial partial--teacher">
                        <div class="partial__heading">
                            <h2 class="partial__heading__title heading-h4">{{ 'Do you have any questions about this class?' | trans }}</h2>
                        </div>
                        <div class="partial__body">
                            {{ content.field_vih_cource_contact_person }}
                        </div>
                    </div>
                {% endif %}
                {# End - teacher #}

                {# Begin - price #}
                <div class="partial partial--price-table">
                    <div class="partial__heading">
                        <h2 class="partial__heading__title heading-h4">{{ 'Price overview' | trans }}</h2>
                    </div>
                    <div class="partial__body">

                        <div class="vih-price-box">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="price-table col-sm-12 col-md-3">
                                        <div class="table-heading">
                                            {{ "Material fee"|trans }}
                                        </div>
                                        <div class="table-cell">
                                            {{ content.field_vih_course_price }}
                                        </div>
                                    </div>
                                    <div class="price-table col-sm-12 col-md-3">
                                        <div class="table-heading">
                                            {{ "Signup fee"|trans }}
                                        </div>
                                        <div class="table-cell">
                                            {{ content.field_vih_course_subsc_price }}
                                        </div>
                                    </div>
                                    <div class="price-table col-sm-12 col-md-3">
                                        <div class="table-heading">
                                            {{ "Weekly payment"|trans }}
                                        </div>
                                        <div class="table-cell">
                                            {{ content.field_vih_course_week_price }}
                                        </div>
                                    </div>
                                    <div class="price-table col-sm-12 col-md-3">
                                      <div class="table-heading">
                                        {{ "Travel payment"|trans }}
                                      </div>
                                      <div class="table-cell">
                                        DKK {{ content.travel_price|number_format(2, ',', '.') }}
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {# End - price #}

            </div>
        </div>
    </section>
    <!-- End - content -->

    {# Begin - paragraphs #}
    {{ content.field_vih_paragraphs }}
    {# End - paragraphs #}

</article>
