{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

{#  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes.addClass('author') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}#}

  <div{{ content_attributes.addClass('content') }}>
    {#{{ content }}#}
    <div class="row">
      <div class="col-sm-12">
        {{ content.body }}
      </div>
    </div>
   
    <div class="row lc-price-box">
      <div class="col-xs-12">
          <h4>{{ "Prisoversigt"|trans }}:</h4>

          <table class="table table-bordered pricing-table">
            <thead>
                <tr>
                    <th>
                        {{ "Materialegebyr"|trans }}
                    </th>
                </tr>
            </thead>
            <tbody>
              <td>
                  {{ content.field_vih_sc_price }}
              </td>
            </tbody>
          </table>
      </div>
    </div>
      
    <div class="row">
      <div class="col-xs-12">
        <h4>{{ 'Har du spørgsmal til kurset?'|trans }}</h4>
        {{ content.field_vih_cs_contact_person }}
      </div>
    </div>
      
  </div>

</article>
