{% set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
] %}

<article{{ attributes.addClass(classes) }}>

    <!-- Begin - content -->
    <section{{ content_attributes.addClass('sectioned', 'sectioned--content') }}>
        <div class="sectioned__inner">
            <div class="container">

                {% if not node.field_vih_top_banner.value %}
                    <!-- Begin - heading -->
                    <div class="sectioned__heading">
                        <h2 class="sectioned__heading__title">{{ label }}</h2>
                    </div>
                    <!-- End - heading -->
                {% endif %}

                {{ content.body }}

            </div>
        </div>
    </section>
    <!-- End - content -->

    {# Begin - paragraphs #}
    {{ content.field_vih_paragraphs }}
    {# End - paragraphs #}

</article>
