{% set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
] %}

<article{{ attributes.addClass(classes) }}>

    <!-- Begin - content -->
    <section class="sectioned sectioned--content">
        <div class="sectioned__inner">
            <div class="container">

                {# Begin - event status #}
                {% if content.is_active %}

                    {% if not content.can_be_subscribed %}
                        <div class="boxy boxy--event-status">
                            <div class="boxy__body">
                                {{ 'No more available slots on this event' | trans }}
                            </div>
                        </div>
                    {% endif %}

                {% else %}

                    <div class="boxy boxy--course-status">
                        <div class="boxy__body">
                            {% if content.is_closed %}
                                {{ 'This event is closed for signups.' | trans }}
                            {% else %}
                                {{ 'This event has been cancelled' | trans }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {# End - event status #}

                <div class="partial">
                    <div class="partial__body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">

                                {# Begin - headings #}
                                {% if node.field_vih_course_heading.value or node.field_vih_course_subheading.value %}

                                    {% if node.field_vih_course_heading.value %}
                                        <!-- Begin - heading -->
                                        <div class="sectioned__heading">
                                            <h2 class="sectioned__heading__title">{{ content.field_vih_course_heading.0 }}</h2>
                                        </div>
                                        <!-- End - heading -->
                                    {% endif %}

                                    {% if node.field_vih_course_subheading.value %}
                                        <!-- Begin - subheading -->
                                        <div class="sectioned__subheading">
                                            <h3 class="sectioned__subheading__title heading-h4">{{ content.field_vih_course_subheading.0 }}</h3>
                                        </div>
                                        <!-- End - subheading -->
                                    {% endif %}

                                {% endif %}
                                {# End - headings #}

                                {{ content.body }}

                            </div>
                            <div class="col-xs-12 col-sm-6">

                                {# Begin - period #}
                                {% if node.field_vih_event_start_date.value %}
                                    <!-- Begin - time period -->
                                    <div class="boxy boxy--time-period">
                                        <div class="boxy__heading">
                                            <h2 class="boxy__heading__title heading-h4">{{ "Event start" | trans }}</h2>
                                        </div>

                                        <div class="boxy__body">
                                            <div class="time-period">
                                                <div class="time-period__icon">
                                                    <span class="icon icon-time"></span>
                                                </div>

                                                <div class="time-period__list">
                                                    <div class="time-period__list__item">
                                                        {{ content.field_vih_event_start_date }}
                                                    </div>
                                                    <div class="time-period__list__item">
                                                        {{ content.field_vih_event_end_date }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End - time period -->
                                {% endif %}
                                {# End - period #}

                                {# Begin - price #}
                                {% if content.field_vih_event_price %}
                                    <!-- Begin - price -->
                                    <div class="boxy boxy--price">
                                        <div class="boxy__heading">
                                            <h2 class="boxy__heading__title heading-h4">{{ "Price per participant" | trans }}</h2>
                                        </div>

                                        <div class="boxy__body">
                                            {{ content.field_vih_event_price }}
                                        </div>
                                    </div>
                                    <!-- End - price -->
                                {% endif %}
                                {# End - price #}

                            </div>
                        </div>
                    </div>
                </div>

                {# Begin - action button #}
                {% if content.is_active and content.can_be_subscribed %}
                    <div class="partial partial--action-button">
                        <div class="partial__body">
                            <a href="{{ url('vih_subscription.event_order_create', {'event': node.id}) }}"
                               class="btn btn-primary">
                                {{ "Register now" | trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}
                {# End - action button #}

                {# Begin - teacher #}
                {% if node.field_vih_cource_contact_person.value %}
                    <div class="partial partial--teacher">
                        <div class="partial__heading">
                            <h2 class="partial__heading__title heading-h4">{{ 'Do you have any questions about this event?' | trans }}</h2>
                        </div>
                        <div class="partial__body">
                            {{ content.field_vih_cource_contact_person }}
                        </div>
                    </div>
                {% endif %}
                {# End - teacher #}

            </div>
        </div>
    </section>
    <!-- End - content -->

    {# Begin - paragraphs #}
    {{ content.field_vih_paragraphs }}
    {# End - paragraphs #}

</article>
