<header class="layout__header layout__header-mobile visible-xs visible-sm">
    <div class=" layout__header-row layout__header-row--bottom">
        {% if page.mobile_header_navigation %}
            {{ page.mobile_header_navigation}}
        {% endif %}
    </div>
</header>

<header id="main-menu" class="layout__header">

    <!-- Begin - logo -->
    <a class="layout__header-logo hidden-xs hidden-sm" href="{{ url('<front>') }}"></a>
    <!-- End - logo -->

    <!-- Begin - black bar -->
    <div class="layout__header-row layout__header-row--top hidden-xs hidden-sm">

        <!-- Begin - contact information -->
        <aside class="layout-header-contact-information">
            <a href="tel:004575820811"><span class="icon icon-phone"></span> +45 7582 0811</a> <span>Mandag - fredag <strong>08:00 - 15:00</strong></span>
        </aside>
        <!-- End - contact information -->

        <!-- Begin - tour -->
        <aside class="layout-header-tour">
            <a href="/rundvisning"><span class="icon icon-bookmark-o"></span> Rundvisning</a> <span><strong>Det er gratis</strong></span>
        </aside>
        <!-- End - tour -->

        <!-- Begin - contact -->
        <aside class="layout-header-contact">
            <a href="/kontakt"><span class="icon icon-portrait"></span> Kontakt</a>
        </aside>
        <!-- End - contact -->

        <!-- Begin - spacer -->
        <!-- Add spacer, to align navigation to the right -->
        <div class="layout-spacer"></div>
        <!-- End - spacer -->

        <!-- Begin - black bar - right -->
        {% if page.header_black_bar_right %}
            {% block header_black_bar_right %}
                <aside class="layout-header-language-selection">
                    {{ page.header_black_bar_right }}
                </aside>
            {% endblock %}
        {% endif %}
        <!-- End - black bar - right -->

    </div>
    <!-- End - black bar -->

    <div class="layout__header-row layout__header-row--bottom">
        <div class="nav-button">
            <button id="toggle_mobile_menu" type="button" class="navbar-toggle pull-left" data-toggle="offcanvas" data-target="#navbar-collapse-menu" data-canvas="body">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar long"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar long"></span>
            </button>

        </div>

        {% if page.header_navigation %}
            {{ page.header_navigation }}
        {% endif %}

        <div class="logo-wrapper-mobile">
          <a href="/"><img src="{{ base_path ~ directory }}/dist/images/vih_logo_white.svg"></a>
        </div>

    </div>
</header>
