<a href="{{ tid }}" class="element-wrapper-link">
  <div class="boxy boxy--my-course">
    <div class="boxy__body">
      <div class="row row--equal-height-columns">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="photo">
            {{ field_vih_photo }}

            <div class="photo__overlay">
              <div class="photo__overlay__text">
                {{ name_1 }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
          <div class="boxy__content">
            <h3>{{ field_vih_heading }}</h3>

            {{ field_vih_description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</a>