<article{{ attributes }}>

    <!-- Begin - content -->
    <section class="sectioned sectioned--content">
        <div class="sectioned__inner">
            <div class="container">

                <!-- Begin - heading -->
                <div class="sectioned__heading">
                    <h2 class="sectioned__heading__title">
                        {% if user.field_vih_user_job_title.value %}
                            {{ user.field_vih_user_name_first.value }} {{ user.field_vih_user_name_last.value }}, {{ user.field_vih_user_job_title.value }}
                        {% else %}
                            {{ user.field_vih_user_name_first.value }} {{ user.field_vih_user_name_last.value }}
                        {% endif %}
                    </h2>
                </div>
                <!-- End - heading -->

                <div class="row">
                    <div class="col-xs-12 col-md-6">

                        {# Begin - description #}
                        {{ content.field_vih_user_descr }}
                        {# End - description #}

                        <div class="partial">
                            <div class="partial__heading">
                                <h3 class="partial__heading__title">
                                    {{ 'Classes' | trans }}
                                </h3>
                            </div>
                            <div class="partial__body">
                                {{ content.view_my_classes_nodes }}
                                {{ content.view_my_classes_terms }}
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-12 col-md-6">

                        {# Begin - user picture #}
                        {{ content.field_vih_user_photo }}
                        {# End - user picture #}

                        {# Begin - e-mail address #}
                        {{ content.field_vih_user_email }}
                        {# End - e-mail address #}

                        {# Begin - phone #}
                        {{ content.field_vih_user_phone }}
                        {# End - phone #}

                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- End - content -->

    {# Begin - paragraphs #}
    {{ content.field_vih_paragraphs }}
    {# End - paragraphs #}

</article>
