{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

{# Introduction information START #}
<h4>
    {{ "Tilmelding til @title"|t({ '@title': form['#course']['title'] }) }}
</h4>
<div>
    <p>
        {{ "Du kan tilmelde så mange mennesker, som du har lyst til. Du tilføjer en person ad gangen i nedenstående formular."|t }}
    </p>

    <p>
        {{ "Særligt for korte kurser - Tilkøb af linned: Du kan tilkøbe linnedpakke med sengetøj og to håndklæder, når du ankommer til skolen for 85 kroner per person eller selv medbringe eget sengetøj."|t }}

    <p>
</div>
{# Introduction information END #}

<div>
    {{ "Total Pris:"|t }} <div id="vih-course-price">{{ form['price'] }}</div>
</div>
<br>

<div id="status_messages">
    {{ form['status_messages'] }}
</div>

{# Options START #}
    {#<h4>{{ "Added options"|t }}</h4>#}
    {{ form['addedOptionsContainer'] }}

    <h4>{{ "Available options"|t }}</h4>
    {{ form['availableOptionsContainer'] }}
    {{ form['addOption'] }}
{# Options END #}

{# Personal data START #}
<br>
<h4>{{ "Personlige oplysninger"|t }}</h4>

<div class="row">
    <div class="col-md-12">
        {{ form['participantsContainer'] }}
        <br/>
        {{ form['message'] }}
        {{ form['actions'] }}
    </div>
</div>
{# Personal data END #}

