{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<section class="sectioned sectioned--content" {{ content_attributes.addClass('content') }}>
    <div class="sectioned__inner">
        <div class="container">
            <div class="sectioned__heading">
                <h2 class="sectioned__heading__title">
                    {{ "Sign up for @title"|t({ '@title': form['#event']['title'] }) }}
                </h2>
            </div>

            {# Introduction information START #}
            <div class="partial">
                <div class="partial__body">
                    <p>{{ "You can sign up, as many as you'd like. You will add one person at a time in the form below."|t }}</p>

                    <a href="{{ form['#event']['url'] }}" class="btn btn-default">
                        {{ "Back to event" | trans }}
                    </a>
                </div>
            </div>
            {# Introduction information END #}

            {# Options START #}
            {#{% for optionGroupsDelta, optionGroup in form['#optionGroups'] %}#}
                {#{{ form[optionGroup['options']['cid']] }}#}
                {#{% if optionGroup['suboptions'] is not empty %}#}
                    {#{% for suboptions in optionGroup['suboptions'] %}#}
                        {#{{ form[suboptions['cid']] }}#}
                    {#{% endfor %}#}
                {#{% endif %}#}
            {#{% endfor %}#}
            {# Options END #}

            <hr>

            <div class="row">
                <div class="col-xs-12 col-sm-6">

                    {# Personal data START #}
                    <div class="partial">
                        <div class="partial__heading">
                            <h4 class="partial__heading__title">{{ "Personal information"|t }}</h4>
                        </div>
                        <div class="partial__body">
                            {#{{ form['personalDataLeft'] }}#}

                            {{ form['participantsContainer'] }}

                            {{ form['message'] }}
                        </div>
                    </div>
                    {# Personal data END #}

                    <!-- Begin - form controls -->
                    <div class="partial partial--form-controls">
                        <div class="partial__body">
                            {{ form['actions'] }}
                        </div>
                    </div>
                    <!-- End - form controls -->

                </div>
                <div class="col-xs-12 col-sm-6">

                    <!-- Begin - price -->
                    <div class="boxy boxy--price">
                        <div class="boxy__heading">
                            <h4 class="boxy__heading__title">
                                {{ 'Total price' | trans }}
                            </h4>
                        </div>
                        <div class="boxy__body">
                            <div id="vih-event-price">
                                {{ form['price'] }}
                            </div>
                        </div>
                    </div>
                    <!-- End - price -->

                </div>
            </div>

        </div>
    </div>
</section>
