{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<section class="sectioned sectioned--content">
    <div class="sectioned__inner">
        <div class="container">

            <div class="partial">
                <div class="partial__heading">
                    <h2 class="partial__heading__title">
                        {{ "Sign up for @title"|t({ '@title': form['#course']['title'] }) }}
                    </h2>
                </div>
                <div class="partial__body">
                    <p>
                        {{ "You can sign up, as many as you'd like. You will add one person at a time in the form below."|t }}
                    </p>

                    <a href="{{ form['#course']['url'] }}" class="btn btn-default">
                        {{ "Back to course" | trans }}
                    </a>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    {# Participant container START #}
                    <div class="partial">
                      <div class="partial__heading">
                        <h4 class="partial__heading__title">
                          {{ "Personlige oplysninger" | t }}
                        </h4>
                      </div>
                      <div class="partial__body">
                        {{ form['newParticipantContainer'] }}
                      </div>
                    </div>

                    {# Options START #}
                    <div class="partial">
                      <div class="partial__body">
                        {{ form['availableOptionsContainer'] }}
                      </div>
                    </div>
                    {# Options END #}
                    {# Participant container END #}

                </div>

                <div class="col-xs-12 col-sm-6">

                    <!-- Begin - price -->
                    <div class="boxy boxy--price">
                        <div class="boxy__heading">
                            <h4 class="boxy__heading__title">
                                {{ 'Total price' | trans }}
                            </h4>
                        </div>
                        <div class="boxy__body">
                            <div id="vih-course-price">
                              {{ form['price'] }}
                            </div>
                        </div>
                    </div>
                    <!-- End - price -->

                    <!-- Begin - participants -->
                    <div class="partial partial--participants">
                      <div class="partial__body">
                        {{ form['addedParticipantsContainer'] }}
                      </div>
                    </div>
                    <!-- End - participants -->

                    <div class="text-right">
                        {{ form['actions'] }}
                    </div>

                </div>
            </div>

            <hr>

            <div class="text-right">
                {{ form['actions'] }}
            </div>

        </div>
    </div>
</section>


