{% for addedParticipantKey, addedParticipant in container['#addedParticipants'] %}
    <div class="boxy boxy--added-participant">
        <div class="boxy__heading">
            <h4 class="boxy__heading__title">
                {{ 'Participant' | trans }}
            </h4>
        </div>
        <div class="boxy__body">
            <h5>{{ addedParticipant['firstName'] }} {{ addedParticipant['lastName'] }}</h5>

            <ul>
                {% for addedParticipantOption in addedParticipant['orderedOptions'] %}
                    {% if addedParticipantOption['option']['name'] %}
                        <li>
                            {{ addedParticipantOption['option']['name'] }}
                            {% if addedParticipantOption['suboption']['name'] %}
                                / {{ addedParticipantOption['suboption']['name'] }}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <hr>

            {{ container['controlButtons']["editButton-#{addedParticipantKey}"] }}
            {{ container['controlButtons']["removeButton-#{addedParticipantKey}"] }}
        </div>
    </div>
{% endfor %}