<div class="all-classes-container">

    {% for delta, radio in radios['#options'] %}
        <div {{ attributes.addClass('entity-list-advanced', 'entity-list-advanced--class') }}>
            {{ radios['#classes']['radio_selection'][delta] }}

            <!-- Begin - action -->
            <div class="entity-list-advanced__action">

                <label class="btn btn-default btn-radio-select">
                    {{ radios[delta] }}
                </label>

                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#class-modal-{{ radios[delta]['#id'] }}">
                    <i class="icon icon-info-circle" aria-hidden="true"></i>
                </button>

            </div>
            <!-- End - action -->

            {# Begin - modal #}
            <div class="modal fade" id="class-modal-{{ radios[delta]['#id'] }}" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">

                        {# Begin - header #}
                        <div class="modal-header" style="background-image: url('{{ radios['#classes']['radio_selection'][delta]['#taxonomy_term'].field_vih_class_image.entity.fileuri | image_style('modal') }}');">
                            <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close' | trans }}">
                                <span aria-hidden="true">&times;</span>
                            </button>

                            <h3 class="modal-title heading-h1">
                                {{ radios['#classes']['radio_selection'][delta]['#taxonomy_term'].getName }}
                            </h3>
                        </div>
                        {# End - header #}

                        {# Begin - body #}
                        <div class="modal-body">
                            {{ radios['#classes']['radio_selection'][delta]['#taxonomy_term'].getDescription|raw }}
                        </div>
                        {# End - body #}

                    </div>
                </div>
            </div>
            {# End - modal #}

        </div>
    {% endfor %}

</div>
