{% for addedParticipantKey, addedParticipant in container['#addedParticipants'] %}
  <div class="vih-course-added-participant">
    <div class="vih-course-added-participant__information">
      {{ addedParticipant['firstName'] }} {{ addedParticipant['lastName'] }}
      <ul class="vih-course-added-participant__information__options">
        {% for addedParticipantOption in addedParticipant['orderedOptions'] %}
          {% if addedParticipantOption['option']['name'] %}
            <li>
              {{ addedParticipantOption['option']['name'] }}
              {% if addedParticipantOption['suboption']['name'] %}
                / {{ addedParticipantOption['suboption']['name'] }}
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="vih-course-added-participant__controls">
      {{ container['controlButtons']["editButton-#{addedParticipantKey}"] }}
      {{ container['controlButtons']["removeButton-#{addedParticipantKey}"] }}
    </div>
  </div>
{% endfor %}