<section class="sectioned sectioned--content">
    <div class="sectioned__inner">
        <div class="container">

            <!-- Begin - heading -->
            <div class="sectioned__heading">
                <h1 class="sectioned__heading__title">{{ 'Please confirm your registration' | trans }}</h1>
            </div>
            <!-- End - heading -->

            {# Begin - order #}
            {{ page['#order'] }}
            {# End - order #}

            <!-- Begin - buttons -->
            <div class="partial partial--actions">
                <div class="partial__body">
                    <div class="text-right">
                        <a href="{{ page['#backLink'] }}" class="btn btn-default">
                            {{ 'Back to order' | trans }}
                        </a>

                        <a href="{{ page['#paymentLink'] }}" class="btn btn-success">
                            {{ 'Proceed to payment' | trans }}
                        </a>
                    </div>
                </div>
            </div>
            <!-- End - buttons -->

        </div>
    </div>
</section>
