{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<section class="sectioned sectioned--content">
    <div class="sectioned__inner">
        <div class="container">
            <div class="partial">
                <div class="partial__heading">
                    <h2 class="partial__heading__title">
                        {{ "Tilmelding til @title"|t({ '@title': form['#course']['title'] }) }}
                    </h2>
                </div>
                <div class="partial__body">
                    <p>
                        {{ "Du kan tilmelde så mange mennesker, som du har lyst til. Du tilføjer en person ad gangen i nedenstående formular."|t }}
                    </p>

                    <p>
                        {{ "Særligt for korte kurser - Tilkøb af linned: Du kan tilkøbe linnedpakke med sengetøj og to håndklæder, når du ankommer til skolen for 85 kroner per person eller selv medbringe eget sengetøj."|t }}
                    <p>
                </div>
            </div>

            <hr>

            <div id="status_messages">
                {{ form['status_messages'] }}
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">

                    {# Options START #}
                    {{ form['addedOptionsContainer'] }}

                    <div class="partial">
                        <div class="partial__heading">
                            <h4 class="partial__heading__title">
                                {{ "Available options" | t }}
                            </h4>
                        </div>
                        <div class="partial__body">
                            {{ form['availableOptionsContainer'] }}
                            {{ form['addOption'] }}
                        </div>
                    </div>
                    {# Options END #}

                    {# Personal data START #}
                    <div class="partial">
                        <div class="partial__heading">
                            <h4 class="partial__heading__title">
                                {{ "Personlige oplysninger" | t }}
                            </h4>
                        </div>
                        <div class="partial__body">
                            {{ form['participantsContainer'] }}
                            <br/>
                            {{ form['message'] }}
                            {{ form['actions'] }}
                        </div>
                    </div>
                    {# Personal data END #}

                </div>
                <div class="col-xs-12 col-sm-6">

                    <!-- Begin - price -->
                    <div class="boxy boxy--price">
                        <div class="boxy__heading">
                            <h4 class="boxy__heading__title">
                                {{ 'Total price' | trans }}
                            </h4>
                        </div>
                        <div class="boxy__body">
                            <div id="vih-course-price">
                                {{ form['price'] }}
                            </div>
                        </div>
                    </div>
                    <!-- End - price -->

                </div>
            </div>

        </div>
    </div>
</section>


