{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

{#{{ dpm(form) }}#}

{# Introduction information START #}

<div>
    <p>{{ "Her kan du se og vælge dine fag. Kun et fag kan vælges pr. idrætsblok."|t }} {{ "Når du har valgt, bedes du udfylde og indsende nedenståede og indsende nedestående oplysninger."|t }}</p>
</div>
<div class="breaker"></div>
{# Introduction information END #}

{# Classes selection START #}
<div class="panel-group course-periods-accordion" id="course-periods-accordion">
    {% set open_collapsible = true %}

    {% for periodDelta, coursePeriod in form['#coursePeriods'] %}
        <div class="panel-heading blue">
            <h4 class="panel-title">
                <a>
                    {{ coursePeriod['title'] }}
                </a>
            </h4>
        </div>

        {% for slotDelta, courseSlot in coursePeriod['courseSlots'] %}
            <div class="panel panel-default white-border-bottom" data-toggle="buttons">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" 
{#                           data-target="#course-periods-accordion-{{ periodDelta }}-{{ slotDelta }}"#}
                           {#data-parent="#course-periods-accordion"#}
                           href="#course-periods-accordion-{{ periodDelta }}-{{ slotDelta }}" aria-expanded="{% if open_collapsible %}true{% else %}false{% endif %}">
                            {{ courseSlot['title'] }}
                        </a>
                    </h4>
                </div>
                <div id="course-periods-accordion-{{ periodDelta }}-{{ slotDelta }}" class="panel-collapse collapse {% if open_collapsible %}in{% endif %}"
                     aria-expanded="{% if open_collapsible %}true{% else %}false{% endif %}">
                    <div class="panel-body">
                        {{ form[courseSlot['availableClasses']['cid']] }}
                    </div>
                </div>
            </div>
            {% set open_collapsible = false %}
        {% endfor %}
    {% endfor %}
</div>
{# Classes selection END #}
<div class="breaker"></div>
{# Personal data START #}
<h5><i class="material-icons form-icon">account_circle</i> &nbsp;{{ "Personlige oplysninger"|t }}</h5>
<div class="breaker"></div>
<div class="row form-group">
    <div class="col-md-6">
        {{ form['personalDataLeft'] }}
    </div>
    <div class="col-md-6">
        {{ form['personalDataRight']['address'] }}
        <div class="row form-group">
            <div class="col-xs-4">
                {{ form['personalDataRight']['house']['houseNumber'] }}
            </div>
            <div class="col-xs-4">
                {{ form['personalDataRight']['house']['houseLetter'] }}
            </div>
            <div class="col-xs-4">
                {{ form['personalDataRight']['house']['houseFloor'] }}
            </div>
        </div>
        {{ form['personalDataRight']|without('address','house') }}
    </div>
</div>

{# Adult data START #}
<h5><i class="material-icons form-icon">account_circle</i> &nbsp;{{ "Kontaktpolysninger for forælder eller værge"|t }}</h5>
<div class="row form-group">
    <div class="col-md-6 form-group">
        {{ form['adultDataLeft'] }}
    </div>
    <div class="col-md-6">
        {{ form['adultDataRight']['adultAddress'] }}
        <div class="row form-group">
            <div class="col-xs-4">
                {{ form['adultDataRight']['adultHouse']['adultHouseNumber'] }}
            </div>
            <div class="col-xs-4">
                {{ form['adultDataRight']['adultHouse']['adultHouseLetter'] }}
            </div>
            <div class="col-xs-4">
                {{ form['adultDataRight']['adultHouse']['adultHouseFloor'] }}
            </div>
        </div>
        {{ form['adultDataRight']|without('adultAddress','adultHouse') }}
    </div>
</div>

<div class="row form-group">
    <div class="col-xs-12">
        {{ form['message'] }}
     </div>
</div>

<div class="row form-group">
    <div class="col-xs-12">
        {{ form['actions'] }}
    </div>
</div>

{{ form['#contact_person']['person'] }}

{# Personal data END #}