{% if content %}
<section{{ attributes.addClass('sectioned', 'sectioned--content') }}>
    <div class="sectioned__inner">
        <div class="container">

            {# Begin - title #}
            {% if content.field_vih_user_title %}
                <h2>{{ content.field_vih_user_title }}</h2>
            {% endif %}
            {# End - title #}
            
            <div class="row">

                <div class="col-xs-12 col-md-6">

                    {# Begin - firstname #}
                    {{ content.field_user_name_first }}
                    {# End - firstname #}

                    {# Begin - lastname #}
                    {{ content.field_user_name_last }}
                    {# End - lastname #}

                    {# Begin - birthday #}
                    {{ content.field_user_birthday }}
                    {# End - birthday #}

                    {# Begin - qualifications #}
                    {{ content.field_user_kvalifikationer }}
                    {# End - qualifications #}

                    {# Begin - description #}
                    {{ content.field_vih_user_descr }}
                    {# End - description #}

                </div>

                <div class="col-xs-12 col-md-6">

                    {# Begin - user picture #}
                    {{ content.field_vih_user_photo }}
                    {# End - user picture #}

                    {# Begin - e-mail address #}
                    {{ content.field_e_mail }}
                    {# End - e-mail address #}

                    {# Begin - phone #}
                    {{ content.field_vih_user_phone }}
                    {# End - phone #}

                </div>

            </div>
        </div>
    </div>

</section>
{% endif %}
