{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - icon: An icon.
 * - icon_only: Flag to display only the icon and not the label.
 * - icon_position: Where an icon should be displayed.
 *
 * @ingroup templates
 *
 * @see \Drupal\bootstrap\Plugin\Preprocess\FileLink::preprocessVariables
 */
#}
{% spaceless %}
  {%
    set classes = [
      icon_only ? 'icon-only',
      not icon_only ? 'icon-' ~ icon_position|clean_class
    ]
  %}

  <div{{ attributes.addClass(classes) }}>
     
        <div class="paragraph-file-icon" style="background: url(/{{ base_path ~ directory }}/dist/images/file-icons/{{ link.url.uri|split('.')|last|lower }}.svg)"></div>
        <div class="file-link">{{ link }}</div><div class="file-size">{{ file_size }}</div>

  </div>
{% endspaceless %}
