<article{{ attributes }}>
  {% if content %}
    {#{{- content -}}#}

    <table class="table table-bordered">
      <tr>
        <td class="user-image">
          {{ content.field_vih_user_photo }}
        </td>
        <td class="hidden-xs">
          <h3>
            {{ user.field_vih_user_name_first.value }}
            {{ user.field_vih_user_name_last.value }}
          </h3>
          {{ content|without("field_vih_user_phone", "field_vih_user_photo", "field_vih_user_name_first", "field_vih_user_name_last") }}
        </td>
        <td class="teacher-contact-info hidden-xs">
          <h5>{{ "Contact information"|trans }}:</h5>

          {# Begin - phone #}
          {% if user.field_vih_user_phone.value %}
            <span class="teacher-phone">
            <span
              class="icon icon-phone"></span> {{ content.field_vih_user_phone }}
              </span>
          {% endif %}
          {# End - phone #}

          <br>

          {# Begin - email #}
          {% if user.email.value %}
            <span class="teacher-mail">
              <span class="icon icon-mail"></span> {{ user.email }}
            </span>
          {% endif %}
          {# End - email #}

        </td>
      </tr>
      <tr class="visible-xs">
        <td colspan="2">
          <h3>
            {{ user.field_vih_user_name_first.value }}
            {{ user.field_vih_user_name_last.value }}
          </h3>
          {{ content|without("field_vih_user_phone", "field_vih_user_photo", "field_vih_user_name_first", "field_vih_user_name_last") }}
        </td>
      </tr>
      <tr class="visible-xs">
        <td class="teacher-contact-info">
          <h5>{{ "Contact information"|trans }}:</h5>

          {# Begin - phone #}
          {% if user.field_vih_user_phone.value %}
            <span class="teacher-phone">
            <span
              class="icon icon-phone"></span> {{ content.field_vih_user_phone }}
              </span>
          {% endif %}
          {# End - phone #}

          <br>

          {# Begin - email #}
          {% if user.email.value %}
            <span class="teacher-mail">
              <span class="icon icon-mail"></span> {{ user.email }}
            </span>
          {% endif %}
          {# End - email #}

        </td>
      </tr>
    </table>
  {% endif %}
</article>
