{% set classes = [
  node.bundle|clean_class,
  node.isPromoted() ? 'is-promoted',
  node.isSticky() ? 'is-sticky',
  not node.isPublished() ? 'is-unpublished',
  view_mode ? view_mode|clean_class,
  'clearfix',
] %}

<a href="{{ url }}"
   class="element-wrapper-link entity-list-advanced entity-list-advanced--long-course">

  {# Begin - image #}
  {% if node.field_vih_course_image.value %}
    <div class="entity-list-advanced__image"
         style="background-image: url({{ node.field_vih_course_image.entity.image.entity.fileuri | image_style('list_advanced') }});">

      {# Begin - period #}
      {% if content.course_period_start and content.course_period_end %}
        <div class="entity-list-advanced__image__overlay">
          {{ content.course_period_start | format_date('vih_medium_date_short_month') }}
          - {{ content.course_period_end | format_date('vih_medium_date_short_month') }}
        </div>
      {% endif %}
      {# End - period #}

    </div>
  {% endif %}
  {# End - image #}

  <!-- Begin - body -->
  <div class="entity-list-advanced__body">

    <div class="entity-list-advanced__heading">
      <h2
        class="entity-list-advanced__heading__title heading-h4">{{ label }}</h2>
    </div>

    {# Begin - short description #}
    {{ content.field_short_description }}
    {# End - short description #}

  </div>
  <!-- End - body -->

  <!-- Begin - action -->
  <div class="entity-list-advanced__action">
    <button class="btn btn-default">{{ 'Read more' | trans }}</button>
  </div>
  <!-- End - action -->

</a>
