<a href="{{ url }}" {{ attributes.addClass('element-wrapper-link', 'entity-teaser', 'entity-teaser--class') }} style="background-image: url({{ term.field_vih_class_image.entity.fileuri | image_style(content.field_vih_class_image[0]['#image_style']) }});">
    <div class="entity-teaser__inner">

        {# Begin - overlay #}
        <div class="entity-teaser__image__overlay entity-teaser__image__overlay--{{ term.field_vih_class_color.value }}">
            {{ name }}
        </div>
        {# End - overlay #}

    </div>
</a>
