{% set random_number = random() %}

<div>

    <!-- Begin - tabs -->
    <ul class="nav nav-tabs" role="tablist">
        {% for key, slot in elements['#slots'] %}
            {% set slot_id = "tabs-class-package--"~term.id~"--slot--"~key~"--"~random_number %}

            {% if loop.first %}
                <li role="presentation" class="active">
            {% else %}
                <li role="presentation">
            {% endif %}
                <a href="#{{ slot_id }}" aria-controls="home" role="tab" data-toggle="tab">{{ slot.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <!-- End - tabs -->

    <!-- Begin - content -->
    <div class="tab-content">

        {% for key, slot in elements['#slots'] %}
            {% set slot_id = "tabs-class-package--"~term.id~"--slot--"~key~"--"~random_number %}

            {% if loop.first %}
                <div role="tabpanel" class="tab-pane active" id="{{ slot_id }}">
            {% else %}
                <div role="tabpanel" class="tab-pane" id="{{ slot_id }}">
            {% endif %}

                {% for class in slot['classes'] %}
                    {{ class }}
                {% endfor %}

            </div>
        {% endfor %}

    </div>
    <!-- End - content -->

</div>
