<div {{ attributes.addClass('element-wrapper-link', 'entity-list-advanced', 'entity-list-advanced--long-course') }}>

    {{ content['field_vih_class_image'] }}

    {# Begin - image #}
    {% if term.field_vih_class_image.value %}
        <div class="entity-list-advanced__image" style="background-image: url({{ term.field_vih_class_image.entity.fileuri | image_style(content.field_vih_class_image[0]['#image_style']) }});">

            {# Begin - period #}
            {% if content.course_period_start and content.course_period_end %}
                <div class="entity-list-advanced__image__overlay">
                    {{ content.course_period_start | format_date('vih_medium_date_short_month') }} - {{ content.course_period_end | format_date('vih_medium_date_short_month') }}
                </div>
            {% endif %}
            {# End - period #}

        </div>
    {% endif %}
    {# End - image #}

    <!-- Begin - body -->
    <div class="entity-list-advanced__body">

        <div class="entity-list-advanced__heading">
            <h2 class="entity-list-advanced__heading__title heading-h4">{{ label }}</h2>
        </div>

        {# Begin - description #}
        {{ content.field_description }}
        {# End - description #}

    </div>
    <!-- End - body -->

    <!-- Begin - action -->
    <div class="entity-list-advanced__action">
        <button class="btn btn-default" data-toggle="modal" data-target="#class-modal-cp-{{ term.id }}">
            <span class="icon icon-info-circle"></span>
        </button>
    </div>
    <!-- End - action -->

    {# Begin - modal #}
    <div class="modal fade" id="class-modal-cp-{{ term.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                {# Begin - header #}
                <div class="modal-header" style="background-image: url({{ term.field_vih_class_image.entity.fileuri | image_style('modal') }})">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close' | trans }}">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h3 class="modal-title heading-h1">
                        {{ name }}
                    </h3>
                </div>
                {# End - header #}

                {# Begin - body #}
                <div class="modal-body">
                    {{ content.description }}
                </div>
                {# End - body #}

            </div>
        </div>
    </div>
    <!-- End - modal -->

</div>
















        {#<div class="col-xs-12 col-sm-6 flex-center-middle">#}
            {#{% if content.description|render is not empty %}#}
                {#<div class="field-description-wrapper">#}
                    {#{{ content.description|render|striptags('<!-- -->')|length > 70 ? content.description|render|striptags('<!-- -->')|slice(0, 70) ~ '...' : content.description }}#}
                {#</div>#}
            {#{% endif %}#}

            {#<button type="button" class="btn btn-default">#}
                {#<span class="icon icon-info-circle" aria-hidden="true"></span>#}
            {#</button>#}
        {#</div>#}
    {#</div>#}

{#</div>#}