<a href="{{ url }}" {{ attributes.addClass('element-wrapper-link', 'entity-teaser', 'entity-teaser--class-package') }} style="background-image: url({{ term.field_vih_cp_image.entity.image.entity.fileuri | image_style('class_packages_frontpage') }});">
    <div class="entity-teaser__inner">

        {# Begin - short description #}
        {{ content.field_short_description }}
        {# End - short description #}

        {# Begin - overlay #}
        <div class="entity-teaser__image__overlay entity-teaser__image__overlay--{{ term.field_vih_class_package_color.value }}">
            {{ name }}
        </div>
        {# End - overlay #}

    </div>
</a>
