{# Begin - image #}
{% if term.field_vih_class_image.value %}
    <div class="entity-list-advanced__image" style="background-image: url({{ term.field_vih_class_image.entity.image.entity.fileuri| image_style('vih_class_teaser') }});">

        {# Begin - name #}
        <div class="entity-list-advanced__image__overlay entity-list-advanced__image__overlay--{{ term.field_vih_class_color.value }}">
            {{ name }}
        </div>
        {# End - name #}

    </div>
{% endif %}
{# End - image #}

<!-- Begin - body -->
<div class="entity-list-advanced__body">

    {# Begin - short description #}
    {#<div class="entity-list-advanced__heading">#}
        {#<h2 class="entity-list-advanced__heading__title heading-h4">#}
          {#{{ name }}#}
        {#</h2>#}
    {#</div>#}
    {# End - short description #}

    {# Begin - short description #}
    {{ content.field_short_description }}
    {# End - short description #}

    {# Begin - price addition #}
    <div class="entity-list-advanced__emphasize">
      {% if term.field_vih_class_price_addition.value %}
        {{ "Price addition"|t }}: DKK {{ term.field_vih_class_price_addition.value }}
        {% if term.field_vih_class_material_price.value %}
          ({{ "material price"|t }} DKK {{ term.field_vih_class_material_price.value }})
        {% endif %}
      {% endif %}
    </div>
    {# End - price addition #}

</div>
<!-- End - body -->
