{% set classes = [
node.bundle|clean_class,
node.isPromoted() ? 'is-promoted',
node.isSticky() ? 'is-sticky',
not node.isPublished() ? 'is-unpublished',
view_mode ? view_mode|clean_class,
'clearfix',
] %}

<article{{ attributes.addClass(classes) }}>
    <div class="partial">
        <div class="partial__body">
            <div class="row">
                <div class="col-xs-12 col-sm-6">

                    {{ content.field_vih_eo_event }}
                    {{ content.field_vih_eo_persons }}

                </div>
                <div class="col-xs-12 col-sm-6">

                    {# Begin - price #}
                    {% if content.field_vih_eo_price %}
                        <!-- Begin - price -->
                        <div class="boxy boxy--price">
                            <div class="boxy__heading">
                                <h2 class="boxy__heading__title heading-h4">{{ "Total price" | trans }}</h2>
                            </div>

                            <div class="boxy__body">
                                {{ content.field_vih_eo_price }}
                            </div>
                        </div>
                        <!-- End - price -->
                    {% endif %}
                    {# End - price #}

                </div>
            </div>
        </div>
    </div>
</article>
