<h2>
  {{ content.field_vih_eo_event.0}}
</h2>
{% if node.field_vih_eo_persons.value %}
  <h3>
    {{ 'Participants' | trans }}
  </h3>
  {{ content.field_vih_eo_persons }}
{% endif %}
{% if content.field_vih_eo_price %}
  <hr>  
  <h3>
    {{ "Total price" | trans }}
  </h3>
  <b>{{ content.field_vih_eo_price }}</b>
  <br>
{% endif %}



