<article{{ attributes.addClass(classes) }} class="node-teaser node-teaser-news">
    <div class="card card-block">
        <h4 class="card-title">{{ label }}</h4>
        <h6 class="card-subtitle text-muted">
            {% trans %} Created by {{ author_name }} on {{ date }} {% endtrans %}
        </h6>

        {% if node.hasField('field_due_date') %}
            <p class="card-text">
                {% trans %} Due at: {% endtrans %} {{ content.field_due_date }}
            </p>
        {% endif %}

        {% if node.hasField('body') %}
            <p class="card-text">{{ content.body }}</p>
        {% endif %}

        <a href="{{ url }}" class="btn btn-primary">
            {% trans %} Show goal {% endtrans %}
        </a>

        {{ content.flag_status }}

    </div>
</article>
