<Table cellspacing="10" cellpadding="10" border="0">
  <tr>
    <td colspan="2">
      {% if node.field_vih_lco_course.value %}
        {{ content.field_vih_lco_course }}
      {% endif %}

    </td>
  </tr>
  <tr>
    <td>
      {% if node.field_vih_lco_order_course_perio.value %}
        <h3>
          {{ 'Ordered options' | trans }}
        </h3>
        {{ content.field_vih_lco_order_course_perio }}
      {% endif %}
    </td>
    <td>
      <h3>
        {{ 'Participant' | trans }}
      </h3>
      <div>
        {{ node.field_vih_lco_first_name.value }} {{ node.field_vih_lco_last_name.value }}
      </div>
      <div>
        {{ content.field_vih_lco_address }}
      </div>
      <div>
        {{ node.field_vih_lco_zip.value }} {{ node.field_vih_lco_city.value }}
      </div>
      {{ content.field_vih_lco_nationality }}
      <div>
        {{ content.field_vih_lco_telefon }}
      </div>
      <div>
        {{ content.field_vih_lco_email }}
      </div>
      <h3>{{ 'Adult' | trans }}</h3>
      <div>
        {{ node.field_vih_lco_adult_first_name.value }} {{ node.field_vih_lco_adult_last_name.value }}
      </div>
      <div>
        {{ content.field_vih_lco_adult_address }}
      </div>
      <div>
        {{ node.field_vih_lco_adult_zip.value }} {{ node.field_vih_lco_adult_city.value }}
      </div>
      <div>
        {{ content.field_vih_lco_adult_nationality }}
      </div>
      <div>
        {{ content.field_vih_lco_adult_telefon }}
      </div>
      <div>
        {{ content.field_vih_lco_adult_email }}
      </div>
      {{ content.field_vih_lco_message }}
      {{ content.field_vih_lco_education }}
      {{ content.field_vih_lco_newsletter }}
      {{ content.field_vih_lco_found_from }}
    </td>
  </tr>
</table>
