<br><br>
<Table cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td colspan="4">
      <h3>{{  node.field_vih_lco_course.entity.title.value }}</h3>
      {{ content.field_vih_lco_order_course_perio }}
    </td>
  </tr>
  <tr>
    <td style="vertical-align: top">
      <h3>
        {{ 'Participant' | trans }}
      </h3>
      <b>{{ 'Name' | trans }}:</b><br>
      {{ node.field_vih_lco_first_name.value }} {{ node.field_vih_lco_last_name.value }}
      <p>
        <b>{{ node.field_vih_lco_address.fieldDefinition.label | trans }}:</b><br>
        {{ node.field_vih_lco_address.value }},
        {{ node.field_vih_lco_zip.value }}, {{ node.field_vih_lco_city.value }}<br>
        {{ node.field_vih_lco_municipality.value }}
      </p>
      <p>
        <b>{{ node.field_vih_lco_nationality.fieldDefinition.label | trans }}:</b><br>
        {{ node.field_vih_lco_nationality.value }}
      </p>
      <p>
        <b>{{ node.field_vih_lco_telefon.fieldDefinition.label | trans }}:</b><br>
        {{ node.field_vih_lco_telefon.value }}
      </p>
      <p>
        <b>{{ node.field_vih_lco_email.fieldDefinition.label | trans }}:</b><br>
        {{ node.field_vih_lco_email.value }}
      </p>
    </td>
    <td row="3" style="width:20px;"></td>
    <td row="3" style="width:20px; border-left: 1px solid #000;"></td>
    <td style="vertical-align: top;">
      <h3>{{ 'Contact person' | trans }}</h3>   
      <b>{{ 'Name' | trans }}:</b><br>
      {{ node.field_vih_lco_adult_first_name.value }} {{ node.field_vih_lco_adult_last_name.value }}
      <p>
      <p>
        <b>{{ node.field_vih_lco_adult_address.fieldDefinition.label | trans }}:</b><br>
        {{ node.field_vih_lco_adult_address.value }},

        {{ node.field_vih_lco_adult_zip.value }}, {{ node.field_vih_lco_adult_city.value }}<br>
        {{ node.field_vih_lco_adult_municipality.value }}
      </p>
      <p>
        <b>{{ node.field_vih_lco_adult_nationality.fieldDefinition.label | trans }}:</b><br>
        {{ node.field_vih_lco_adult_nationality.value }}
      </p>
      <p>
        <b>{{ node.field_vih_lco_adult_telefon.fieldDefinition.label | trans }}:</b><br>
        {{ node.field_vih_lco_adult_telefon.value }}
      </p>
      <p>
        <b>{{ node.field_vih_lco_adult_email.fieldDefinition.label | trans }}:</b><br>
        {{ node.field_vih_lco_adult_email.value }}
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <br>
      <p>
        <b>{{ node.field_vih_lco_message.fieldDefinition.label | trans }}:</b><br>
        {{ node.field_vih_lco_message.value }}
      </p>
    </td>
  </tr>
</table>
<br><br>